<stacked-layout [navigationLinks]="links">
  <div slot="content">
    <breadcrumb [breadcrumbLinks]="breadcrumbLinks"></breadcrumb>

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

      <survey-event-tabs [projectCode]="project?.code?.value" [surveyEventId]="surveyEventId"></survey-event-tabs>

      <div class="px-4 py-8 sm:px-0">

        <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Habitat details
          </h3>
        </div>

        <form [formGroup]="habitatForm">
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-2 lg:col-span-1">
              <label class="block text-sm font-medium text-gray-700" for="minDepth">Minimum diepte (m)</label>
              <div class="mt-1">
                <input formControlName="minDepth" [imask]="numberMask" [unmask]="true" type="text" name="minDepth" id="minDepth" class="shadow-sm focus:ring-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
            </div>

            <div class="sm:col-span-2 lg:col-span-1">
              <label class="block text-sm font-medium text-gray-700" for="maxDepth">Maximum diepte (m)</label>
              <div class="mt-1">
                <input formControlName="maxDepth" [imask]="numberMask" [unmask]="true" type="text" name="maxDepth" id="maxDepth" class="shadow-sm focus:ring-pink-500 focus:border-pink-500 block w-full sm:text-sm border-gray-300 rounded-md">
              </div>
              <p *ngIf="submitted && maxDepth.errors && maxDepth.errors.depth" class="mt-2 text-sm text-red-600">Max moet groter zijn dan min</p>

            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Waterpeil</label>
              <div class="mt-1">
                <radio-group name="waterLevel" [options]="habitatOptions.waterLevels" formControlName="waterLevel"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Schuilplaatsen</label>
              <div class="mt-1">
                <radio-group name="shelters" [options]="habitatOptions.shelters" formControlName="shelters"></radio-group>
              </div>
            </div>


            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Oever</label>
              <div class="mt-1">
                <radio-group name="shore" [options]="habitatOptions.shore" formControlName="shore"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Talud helling</label>
              <div class="mt-1">
                <radio-group name="slope" [options]="habitatOptions.slope" formControlName="slope"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Landbouw (velden) in omgeving traject tot 50m van oever:</label>
              <div class="mt-1">
                <radio-group name="agriculture" [options]="habitatOptions.agriculture" formControlName="agriculture"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Weide in omgeving traject (voor dieren) tot 50 m van oever</label>
              <div class="mt-1">
                <radio-group name="meadow" [options]="habitatOptions.meadow" formControlName="meadow"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Bomen in omgeving traject tot 20 m van oever</label>
              <div class="mt-1">
                <radio-group name="trees" [options]="habitatOptions.trees" formControlName="trees"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Bebouwing in omgeving traject tot 50 m van oever </label>
              <div class="mt-1">
                <radio-group name="buildings" [options]="habitatOptions.buildings" formControlName="buildings"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Loop</label>
              <div class="mt-1">
                <radio-group name="loop" [options]="habitatOptions.loop" formControlName="loop"></radio-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Bodem</label>
              <div class="mt-1">
                <check-group name="soils" [options]="habitatOptions.soil" formControlName="soils"></check-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Knelpunt in omgeving van het traject</label>
              <div class="mt-1">
                <check-group name="bottlenecks" [options]="habitatOptions.bottlenecks" formControlName="bottlenecks"></check-group>
              </div>
            </div>

            <div class="sm:col-span-6">
              <label class="block text-sm font-medium text-gray-700">Vegetatie</label>
              <div class="mt-1">
                <check-group name="vegetations" [options]="habitatOptions.vegetations" formControlName="vegetations"></check-group>
              </div>
            </div>

            <div class="pt-5 sm:col-span-6 border-t border-gray-200">
              <div class="flex justify-end">
                <button (click)="reset()" type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  Reset
                </button>
                <button (click)="saveHabitat()" type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
                  Bewaren
                </button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</stacked-layout>
