<vis-stacked-layout [navigationLinks]="links">
  <div slot="content">
    <vis-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></vis-breadcrumb>
    <main>
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

        <div class="px-4 py-8 sm:px-8 -my-2 sm:-mx-6 lg:-mx-8">
          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="border-b border-gray-200">
            <div class="sm:flex sm:items-baseline">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Imports
              </h3>
              <div class="mt-4 sm:mt-0 sm:ml-10">
                <nav class="-mb-px flex space-x-8">
                  <!-- Current: "border-pink-500 text-pink-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                  <a [routerLink]="['/importeren']" aria-current="page" class="border-pink-500 text-pink-600 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                    Open
                  </a>

                  <a [routerLink]="['/importeren', 'verwerkt']" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap pb-4 px-1 border-b-2 font-medium text-sm">
                    Afgesloten
                  </a>
                </nav>
              </div>
            </div>
          </div>


        </div>


        <div class="px-4 py-8 sm:px-0">
          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="flex flex-col">
            <vis-table>
              <thead class="bg-gray-50">
                <tr>
                  <th class="table-header-cell" scope="col">
                    Titel / aangemaakt op
                  </th>
                  <th class="table-header-cell" scope="col">
                    Bewerkt door
                  </th>
                  <th class="table-header-cell" scope="col">
                    Drive
                  </th>
                  <th class="table-header-cell" scope="col">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr visRow>
                  <td *ngIf="loading" visCell colspan="5">
                    <vis-loading-spinner></vis-loading-spinner>
                  </td>
                </tr>

                <tr *ngFor="let importItem of imports; let index = index" [rownumber]="index" visRow>
                  <td visCell>
                    <div class="text-sm text-gray-900">{{importItem.filename}}</div>
                    <div class="text-sm text-gray-500">{{importItem.createdTime | date: 'dd/MM/yyyy'}}</div>
                  </td>

                  <td visCell>
                    <div class="flex items-center">
                      <div class="flex-shrink-0 h-10 w-10">
                        <img [src]="importItem.photoLink" alt="" class="h-10 w-10 rounded-full">
                      </div>
                      <div class="ml-4">
                        <div class="text-sm font-medium text-gray-900">
                          {{importItem.displayName}}
                        </div>
                        <div class="text-sm text-gray-500">
                          {{importItem.modifiedTime | date: 'dd/MM/yyyy'}}
                        </div>
                      </div>
                    </div>
                  </td>

                  <td visCell>
                    <a [href]="importItem.webViewLink" class="text-pink-600 hover:text-pink-900" target="_blank">Open</a>
                  </td>
                  <td [actions]="true" visCell>
                    <a [routerLink]="['/importeren', importItem.id]" class="text-pink-600 hover:text-pink-900">Detail</a>
                  </td>
                </tr>

              </tbody>
            </vis-table>
          </div>
        </div>
      </div>
    </main>
  </div>

</vis-stacked-layout>
