<div [class]="'group block w-full aspect-w-10 aspect-h-7 rounded-lg bg-gray-100 overflow-hidden ' + (selectedPicture?.id === picture.id ? 'ring-2 ring-offset-2 ring-pink-500' : 'focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-pink-500')">
  <img [src]="picture.grid_url" alt="" class="object-cover pointer-events-none group-hover:opacity-75">
  <button type="button" class="absolute inset-0 focus:outline-none">
    <span class="sr-only">View details for IMG_4985.HEIC</span>
  </button>
</div>
<p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">{{picture.filename}}</p>
<p class="block text-sm font-medium text-gray-500 pointer-events-none">{{picture.created_at | date:'dd/MM/yyyy HH:mm'}}</p>
