<div>
  <div class="max-w-none mx-auto">
    <form [formGroup]="surveyEventForm" class="space-y-8 divide-y divide-gray-200">
      <div class="bg-white overflow-visible sm:rounded-lg sm:shadow">
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Waarneming details
          </h3>
        </div>
        <div class="bg-white px-4 py-5 sm:px-6">
          <div class="space-y-8 divide-y divide-gray-200">
            <div>
              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-4">
                  <label class="block text-sm font-medium text-gray-700">
                    Datum *
                  </label>
                  <div class="mt-1">
                    <app-datepicker formControlName="occurrenceDate"></app-datepicker>
                  </div>
                  <app-form-error-message [fieldName]="'Datum'" [control]="occurrenceDate"
                                          [submitted]="submitted"></app-form-error-message>
                </div>

                <div class="relative sm:col-span-4">
                  <label for="location" class="block text-sm font-medium text-gray-700">
                    Locatie *
                  </label>
                  <div class="mt-1">
                    <app-searchable-select id="location" passedId="location" placeholder="Selecteer een locatie"
                                           tabIndex="-1" formControlName="location"
                                           (onSearch)="getLocations($event)"
                                           [options]="locations">
                      <ng-template let-rowDetail #selected>
                        {{rowDetail?.option?.code  + ' - '  + rowDetail?.option?.description}}
                      </ng-template>

                      <ng-template let-rowDetail #listItem>
                        {{rowDetail.option.code  + ' - '  + rowDetail.option.description}}
                      </ng-template>

                    </app-searchable-select>
                  </div>
                  <app-form-error-message [fieldName]="'Locatie'" [control]="location"
                                          [submitted]="submitted"></app-form-error-message>
                </div>

                <div class="relative sm:col-span-4">
                  <label for="method" class="block text-sm font-medium text-gray-700">
                    Methode
                  </label>
                  <div class="mt-1">
                    <app-searchable-select id="method" passedId="method" placeholder="Selecteer een methode"
                                           tabIndex="-1"
                                           formControlName="method" (onSearch)="getMethods($event)"
                                           [options]="methods">
                      <ng-template let-rowDetail #selected>
                        {{rowDetail?.option?.code  + ' - '  + rowDetail?.option?.description}}
                      </ng-template>

                      <ng-template let-rowDetail #listItem>
                        {{rowDetail.option.code  + ' - '  + rowDetail.option.description}}
                      </ng-template>

                    </app-searchable-select>
                  </div>
                </div>

                <div class="sm:col-span-6">
                  <label for="comment" class="block text-sm font-medium text-gray-700">
                    Commentaar
                  </label>
                  <div class="mt-1">
                    <textarea formControlName="comment" id="comment" name="comment" rows="3"></textarea>
                  </div>
                  <div class="flex justify-between">
                    <app-text-counter [max]="800" [text]="comment.value"></app-text-counter>
                  </div>
                  <app-form-error-message [fieldName]="'Commentaar'" [control]="comment"
                                          [submitted]="submitted"></app-form-error-message>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
          <div class="flex justify-end">
            <button (click)="cancel()" type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Annuleren
            </button>
            <app-button (click)="deleteSurveyEvent()" *ngIf="surveyEvent?.status !== 'DEL'" [style]="'secondary'"
                        class="ml-3" [role]="role.EditSurveyEvent">Verwijderen
            </app-button>
            <button (click)="saveSurveyEvent()" type="submit"
                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Bewaren
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
