<div>
	<div class="max-w-none mx-auto">
		<form [formGroup]="surveyEventForm"
		      class="space-y-8 divide-y divide-gray-200">
			<div class="bg-white overflow-visible sm:rounded-lg sm:shadow">
				<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
					<h3 class="text-lg leading-6 font-medium text-gray-900">
						Waarneming details </h3>
				</div>
				<div class="bg-white px-4 py-5 sm:px-6">
					<div class="space-y-8 divide-y divide-gray-200">
						<div>
							<div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
								<div class="sm:col-span-4">
									<label class="block text-sm font-medium text-gray-700"> Datum * </label>
									<div class="mt-1">
										<vis-datepicker formControlName="occurrenceDate"
										                [minDate]="minDate"
										                [maxDate]="maxDate"></vis-datepicker>
									</div>
									<vis-form-error-message [fieldName]="'Datum'"
									                        [control]="occurrenceDate"
									                        [submitted]="submitted"></vis-form-error-message>
								</div>

								<div class="relative sm:col-span-4">
									<label for="fishingPoint"
									       class="block text-sm font-medium text-gray-700"> Locatie * </label>
									<div class="mt-1">
										<vis-searchable-select id="fishingPoint"
										                       passedId="fishingPoint"
										                       placeholder="Selecteer een locatie"
										                       formControlName="fishingPointId"
										                       (search)="getFishingPoints($event)"
										                       [options]="fishingPoints"
										                       [configuration]="fishingPointSearchableSelectConfig">
										</vis-searchable-select>
									</div>
									<vis-form-error-message [fieldName]="'Locatie'"
									                        [control]="fishingPoint"
									                        [submitted]="submitted"></vis-form-error-message>
								</div>

								<div class="relative sm:col-span-4">
									<label for="method"
									       class="block text-sm font-medium text-gray-700"> Methode * </label>
									<div class="mt-1">
										<vis-searchable-select id="method"
										                       passedId="method"
										                       placeholder="Selecteer een methode"
										                       formControlName="method"
										                       (search)="getMethods($event)"
										                       [options]="filteredMethods">
										</vis-searchable-select>
									</div>
									<vis-form-error-message [fieldName]="'Methode'"
									                        [control]="method"
									                        [submitted]="submitted"></vis-form-error-message>
								</div>

								<div class="sm:col-span-6">
									<label for="comment"
									       class="block text-sm font-medium text-gray-700"> Commentaar </label>
									<div class="mt-1">
                                        <textarea formControlName="comment"
                                                  id="comment"
                                                  name="comment"
                                                  rows="3"></textarea>
									</div>
									<div class="flex justify-between">
										<vis-text-counter [max]="800"
										                  [text]="comment.value"></vis-text-counter>
									</div>
									<vis-form-error-message [fieldName]="'Commentaar'"
									                        [control]="comment"
									                        [submitted]="submitted"></vis-form-error-message>
								</div>
							</div>
							<vis-form-error-message [fieldName]="'Waarneming'"
							                        [control]="form"
							                        [submitted]="submitted"></vis-form-error-message>
						</div>
					</div>

					<div class="py-3">
						<vis-existing-survey-events-found-warning [date]="occurrenceDate.value"
						                                          [fishingPointId]="fishingPoint.value"
						                                          [method]="method.value">
						</vis-existing-survey-events-found-warning>
					</div>
				</div>

				<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
					<div class="flex justify-end">
						<button (click)="cancel()"
						        type="button"
						        class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
							Annuleren
						</button>
						<vis-button (click)="saveSurveyEvent()"
						            [style]="'primary'"
						            class="ml-3"
						            [role]="role.EditSurveyEvent"
						            [isUserLinkedToProject]="surveyEvent?.canEdit">Bewaren
						</vis-button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
