<stacked-layout [navigationLinks]="links">
  <div slot="content">
    <breadcrumb [breadcrumbLinks]="breadcrumbLinks"></breadcrumb>

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">

      <div class="px-4 py-8 sm:px-8 -my-2 sm:-mx-6 lg:-mx-8">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Vissoort detail
          </h3>
          <!--<div class="mt-3 flex sm:mt-0 sm:ml-4">
            <button (click)="exportProject()" type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Exporteer
            </button>
            <a [routerLink]="['/projecten', project?.code?.value, 'bewerk']" type="button" class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Bewerken
            </a>
          </div>-->
        </div>

      </div>

      <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-10">
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
          <dl *ngIf="taxon$ | async as taxon" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Code
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon?.code.value}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Nederlandse naam
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon?.nameDutch}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Lengte minimum (cm)
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon?.lengthMin.toFixed(2)}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Wetenschappelijke naam
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon ? ('taxon.id.' + taxon?.id.value + '.sci' | translate) : ''}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Lengte maximum (cm)
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon?.lengthMax.toFixed(2)}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Engelse naam
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon ? ('taxon.id.' + taxon?.id.value + '.en' | translate) : ''}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Gewicht minimum (g)
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon?.weightMin}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Franse naam
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon ? ('taxon.id.' + taxon?.id.value + '.fr' | translate) : ''}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Gewicht maximum (g)
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon?.weightMax}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Duitse naam
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{taxon ? ('taxon.id.' + taxon?.id.value + '.ger' | translate) : ''}}
              </dd>
            </div>
            <div class="sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Groep
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{(taxonGroups$ | async)?.join(', ')}}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</stacked-layout>
