<button [attr.title]="title()"
        [disabled]="isDisabled()"
        [class.disabled:opacity-50]="isDisabled()"
        [routerLink]="routerLink"
        *ngIf="routerLink"
        type="button"
        [class]="usedStyle()">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<button [attr.title]="title()"
        [disabled]="isDisabled()"
        [class.disabled:opacity-50]="isDisabled()"
        type="button"
        *ngIf="!routerLink"
        [class]="usedStyle()">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</button>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
