<div [class.hidden]="!isOpen"
     class="z-[1000] fixed inset-0 overflow-visible hidden">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center">

    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
    <div
      class="max-w-none inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl
         transform transition-all sm:my-8 sm:align-middle sm:max-w-6xl sm:p-6"
      role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <form [formGroup]="copySurveyEventForm" class="space-y-8 divide-y divide-gray-200">
        <div class="sm:col-span-2">
          <label class="block text-sm font-medium text-gray-700">
            Datum *
          </label>
          <div class="mt-1">
            <app-datepicker #occurrenceDatePicker formControlName="occurrenceDate"></app-datepicker>
            <app-form-error-message [fieldName]="'Datum'" [control]="occurrenceDate" [submitted]="submitted"></app-form-error-message>
            <app-form-error-message [fieldName]="'Waarneming'" [control]="copySurveyEventForm" [submitted]="submitted"></app-form-error-message>
          </div>
        </div>
      </form>

      <div class="py-4 flex justify-end">
        <app-button [style]="'secondary'" (click)="isOpen = false">
          Annuleren
        </app-button>
        <app-button [disabled]="!copySurveyEventForm.valid" [style]="'primary'" class="ml-3" (click)="copySurveyEvent()">
          Bewaren
        </app-button>
      </div>
    </div>
  </div>
</div>
