<div class="flex-1 flex flex-col overflow-hidden">
  <div class="text-center" *ngIf="!loading && tandemvaultcollectionslug == null || tandemvaultcollectionslug == ''">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">Geen afbeeldingen</h3>
    <p class="mt-1 text-sm text-gray-500">
      <span>Start door Tandemvault te koppelen aan dit project</span>

    </p>
    <div class="mt-6">
      <a [routerLink]="['/projecten', this.projectCode, 'bewerk']" type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
        <svg class="-ml-1 mr-2 h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg>
        Bewerk project
      </a>
    </div>
  </div>

  <div class="flex-1 flex items-stretch overflow-hidden" *ngIf="!loading && !(tandemvaultcollectionslug == null || tandemvaultcollectionslug == '')">
    <main class="flex-1 overflow-y-auto">
      <div>

        <div class="mt-3 sm:mt-2 px-6">
          <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
            <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm rounded-md">
              <option selected>Waarneming</option>
              <option>Zonder tags</option>
              <option>Project</option>
            </select>
          </div>
          <div class="hidden sm:block">
            <div class="flex items-center border-b border-gray-200">
              <nav class="flex-1 -mb-px flex space-x-6 xl:space-x-8" aria-label="Tabs">
                <!-- Current: "border-pink-500 text-pink-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
                <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'afbeeldingen']" aria-current="page" [class]="url === 'afbeeldingen' ? 'border-pink-500 text-pink-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm'">
                  Waarneming
                </a>

                <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'afbeeldingen', 'dag']" [class]="url === 'dag' ? 'border-pink-500 text-pink-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm'">
                  Zonder tags
                </a>

                <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'afbeeldingen', 'project']" [class]="url === 'project' ? 'border-pink-500 text-pink-600 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm'">
                  Project
                </a>
              </nav>
              <!--<div class="hidden ml-6 bg-gray-100 p-0.5 rounded-lg items-center sm:flex">
                <button type="button" class="p-1.5 rounded-md text-gray-400 hover:bg-white hover:shadow-sm focus:outline-none focus:ring-2 focus:ring-inset focus:ring-pink-500">
                  &lt;!&ndash; Heroicon name: solid/view-list &ndash;&gt;
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                  </svg>
                  <span class="sr-only">Use list view</span>
                </button>
                <button type="button" class="ml-0.5 bg-white p-1.5 rounded-md shadow-sm text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-pink-500">
                  &lt;!&ndash; Heroicon name: solid/view-grid &ndash;&gt;
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                  </svg>
                  <span class="sr-only">Use grid view</span>
                </button>
              </div>-->
            </div>
          </div>
        </div>

        <section class="mt-8 pb-16 px-6" aria-labelledby="gallery-heading">
          <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 md:grid-cols-4 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 mb-6">
            <li (click)="openDetail(picture)" class="relative" *ngFor="let picture of pictures">
              <app-image-grid-item [picture]="picture" [selectedPicture]="selectedPicture"></app-image-grid-item>
            </li>
          </ul>

          <app-paging-async class="mt-6" *ngIf="pager" [pager]="pager"></app-paging-async>

          <app-upload-files></app-upload-files>
        </section>
      </div>
    </main>

    <app-image-detail [detail]="detail" (downloadPicture)="download($event)" (addTags)="addTags($event)"></app-image-detail>
  </div>
</div>
