<div class="px-4 py-8 sm:px-0">
  <app-fishing-points-map [projectCode]="projectCode"></app-fishing-points-map>
</div>

<div class="px-4 py-8 sm:px-0">
  <div class="hidden lg:block flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 table-fixed">
            <thead>
            <tr>
              <th scope="col"
                  class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Meetplaatscode
              </th>
              <th scope="col"
                  class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Beschrijving
              </th>
              <th scope="col"
                  class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td *ngIf="loading" class="px-3 py-4" colspan="8">
                <app-loading-spinner></app-loading-spinner>
              </td>
            </tr>

            <tr *ngFor="let fishingPoint of fishingPoints | async; let index = index" [class.bg-white]="index % 2 === 0"
                [class.bg-gray-50]="index % 2 !== 0">
              <td class="px-6 py-4 text-sm text-gray-500 flex">
                <a [routerLink]="['/locaties', fishingPoint.code]"
                   class="text-pink-600 hover:text-pink-900">{{fishingPoint.code}}</a>
              </td>
              <td class="px-6 py-4  text-sm text-gray-500">
                {{fishingPoint.description}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <span (click)="zoomToLocation(fishingPoint)"
                        class="cursor-pointer text-pink-600 hover:text-pink-900">Zoom</span>
              </td>
            </tr>
            </tbody>
          </table>
          <app-paging-async [pager]="pager"></app-paging-async>
        </div>
      </div>
    </div>
  </div>

</div>
