<div class="px-4 py-8 sm:px-0">
  <app-fishing-points-map [projectCode]="projectCode"></app-fishing-points-map>
</div>

<app-slide-over-filter (resetClicked)="reset()" (searchClicked)="filter()" [formGroup]="filterForm"
                       [tags]="tags">
  <ng-container slot="content">
    <div class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-700" for="fishingPointCode">
          Meetplaatscode
        </label>
        <div class="mt-1">
          <input formControlName="fishingPointCode" id="fishingPointCode" placeholder="Meetplaatscode ..."
                 type="text"/>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="description">
          Beschrijving
        </label>
        <div class="mt-1">
          <input formControlName="description" id="description" placeholder="Beschrijving ..." type="text"/>
        </div>
      </div>
    </div>
  </ng-container>
</app-slide-over-filter>

<div class="px-4 py-8 sm:px-0">
  <div class="hidden lg:block flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <app-table>
        <thead>
          <tr>
            <th appHeader scope="col">
              Meetplaatscode
            </th>
            <th appHeader scope="col">
              Beschrijving
            </th>
            <th appHeader scope="col">
              <span class="sr-only">Bewerk</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr appRow>
            <td appCell *ngIf="loading" colspan="8">
              <app-loading-spinner></app-loading-spinner>
            </td>
          </tr>

          <tr appRow [rownumber]="index" *ngFor="let fishingPoint of fishingPoints$ | async; let index = index">
            <td appCell>
              <a [routerLink]="['/locaties', fishingPoint.code]"
                 class="text-pink-600 hover:text-pink-900">{{fishingPoint.code}}</a>
            </td>
            <td appCell>
              {{fishingPoint.description}}
            </td>
            <td appCell [actions]="true">
                <span (click)="zoomToLocation(fishingPoint)" class="cursor-pointer text-pink-600 hover:text-pink-900">Zoom</span>
            </td>
          </tr>
        </tbody>
      </app-table>
    </div>
  </div>

</div>
