<div class="px-4 py-8 sm:px-0">
  <app-fishing-points-map [projectCode]="projectCode"></app-fishing-points-map>
</div>

<app-slide-over-filter (resetClicked)="reset()" (searchClicked)="filter()" [formGroup]="filterForm"
                       [tags]="tags">
  <ng-container slot="content">
    <div class="space-y-4">
      <div>
        <label class="block text-sm font-medium text-gray-700" for="fishingPointCode">
          Meetplaatscode
        </label>
        <div class="mt-1">
          <input formControlName="fishingPointCode" id="fishingPointCode" placeholder="Meetplaatscode ..."
                 type="text"/>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="description">
          Beschrijving
        </label>
        <div class="mt-1">
          <input formControlName="description" id="description" placeholder="Beschrijving ..." type="text"/>
        </div>
      </div>

      <div class="relative sm:col-span-4">
        <label for="watercourse" class="block text-sm font-medium text-gray-700">
          Waterloop
        </label>
        <div class="mt-1">
          <app-searchable-select id="watercourse" passedId="watercourse" placeholder="Selecteer een waterloop"
                                 tabIndex="-1" formControlName="watercourse"
                                 (search)="getWatercourses($event)"
                                 [options]="watercourses">
            <ng-template let-rowDetail #selected>
              {{rowDetail.option?.name}}
            </ng-template>

            <ng-template let-rowDetail #listItem>
              {{rowDetail.option?.name}}
            </ng-template>
          </app-searchable-select>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="lenticWaterbody">
          Watervlak
        </label>
        <div class="mt-1">
          <input formControlName="lenticWaterbody" id="lenticWaterbody" placeholder="Watervlak ..." type="text"/>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="basin">
          Bekken
        </label>
        <div class="mt-1">
          <input formControlName="basin" id="basin" placeholder="Bekken ..." type="text"/>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="province">
          Provincie
        </label>
        <div class="mt-1">
          <input formControlName="province" id="province" placeholder="Provincie ..." type="text"/>
        </div>
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700" for="municipality">
          Gemeente
        </label>
        <div class="mt-1">
          <input formControlName="municipality" id="municipality" placeholder="Gemeente ..." type="text"/>
        </div>
      </div>
    </div>
  </ng-container>
</app-slide-over-filter>

<div class="px-4 py-8 sm:px-0">
  <div class="hidden lg:block">
    <app-table [pager]="pager">
      <thead>
      <tr>
        <th appHeader scope="col">
          Meetplaatscode
        </th>
        <th appHeader scope="col">
          Beschrijving
        </th>
        <th appHeader scope="col">
          Waterloop / watervlak
        </th>
        <th appHeader scope="col">
          Bekken
        </th>
        <th appHeader scope="col">
          Provincie
        </th>
        <th appHeader scope="col">
          Gemeente
        </th>
        <th appHeader scope="col">
          <span class="sr-only">Bewerk</span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr appRow>
        <td *ngIf="loading" appCell colspan="8">
          <app-loading-spinner></app-loading-spinner>
        </td>
      </tr>

      <tr *ngFor="let fishingPoint of fishingPoints$ | async; let index = index" [rownumber]="index"
          [class.bg-pink-100]="highlightedLocation === fishingPoint.id" appRow>
        <td appCell>
          <a [routerLink]="['/locaties', fishingPoint.code]"
             class="text-pink-600 hover:text-pink-900">{{fishingPoint.code}}</a>
        </td>
        <td appCell>
          {{fishingPoint.description}}
        </td>
        <td appCell>
          {{fishingPoint.isLentic ? fishingPoint.lenticName : fishingPoint.watercourse}}
        </td>
        <td appCell>
          {{fishingPoint.basinName}}
        </td>
        <td appCell>
          {{fishingPoint.province}}
        </td>
        <td appCell>
          {{fishingPoint.municipality}}
        </td>
        <td [actions]="true" appCell>
          <span (click)="zoomToLocation(fishingPoint)"
                class="cursor-pointer text-pink-600 hover:text-pink-900">Zoom</span>
        </td>
      </tr>
      </tbody>
    </app-table>
  </div>

</div>
