<div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Gebruikers overzicht
  </h3>
</div>
<vis-table [pager]="pager">
  <thead>
    <tr>
      <th class="table-header-cell" scope="col">
        Naam
      </th>
      <th class="table-header-cell" scope="col">
        Gebruikersnaam
      </th>
      <th class="table-header-cell" scope="col">
        Instantie
      </th>
      <th class="table-header-cell" scope="col">
        Team
      </th>
      <th class="table-header-cell" scope="col">
        <span class="sr-only">Bewerken</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts | async; let index = index" [rownumber]="index" visRow>
      <td visCell>
        <div class="flex items-center">
          <div class="flex-shrink-0 h-10 w-10">
            <img *ngIf="account.picture" [src]="account.picture" alt="" class="h-10 w-10 rounded-full">
            <span *ngIf="!account.picture" class="h-10 w-10 rounded-full overflow-hidden bg-gray-100">
                        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                          <path
                            d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"/>
                        </svg>
                      </span>
          </div>
          <div class="ml-4">
            <div class="text-sm font-medium text-gray-900">
              {{account.name}}
            </div>
            <div class="text-sm text-gray-500">
              {{account.email}}
            </div>
          </div>
        </div>
      </td>
      <td visCell>
        {{account.username}}
      </td>
      <td visCell>
        {{account.instances.join(", ")}}
      </td>
      <td visCell>
        <span *ngFor="let team of account?.teams; last as isLast">
            {{team | visProjectTeamFormat:true}}<span *ngIf="!isLast">, </span></span>
      </td>
      <td [actions]="true" visCell>
        <a (click)="editAccount(account)"
           class="cursor-pointer text-pink-600 hover:text-pink-900">Bewerken</a>
      </td>
    </tr>
  </tbody>
</vis-table>

<vis-user-edit (onSaved)="reload()"></vis-user-edit>

<vis-team-add></vis-team-add>

