<vis-stacked-layout [navigationLinks]="links">
	<div slot="content">
		<vis-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></vis-breadcrumb>
		<main *ngIf="formGroup">
			<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
				<div class="px-4 py-8 sm:px-0">
					<nav aria-label="Progress">
						<ol class="space-y-4 md:flex md:space-y-0 md:space-x-8">
							<li class="md:flex-1">
								<vis-step [active]="true"
								          step="Stap 1"
								          description="Vispunt selecteren"></vis-step>
							</li>

							<li class="md:flex-1"
							    *ngIf="!(editMode && fishingPointType === FishingPointType.STAGNANT)">
								<vis-step [active]="FishingPointCreationStep.BLUE_LAYER === currentStep || FishingPointCreationStep.WATER_COURSE === currentStep"
								          step="Stap 2"
								          [description]="fishingPointType === FishingPointType.FLOWING ? 'Waterloop' : 'Blauwe laag'">
								</vis-step>
							</li>
						</ol>
					</nav>
				</div>

				<div *ngIf="currentStep === FishingPointCreationStep.GENERAL"
				     class="px-4 py-8 sm:px-0">

					<vis-fishing-point-create-step1 [formGroup]="formGroup"
                                          [redraw]="redraw"
                                          (redrawDone)="redrawDone()"
					                           [editMode]="editMode"
					                           [canEditIndexType]="canEditIndexType"
					                           [(fishingPointType)]="fishingPointType"
					                           [indexTypes]="indexTypes">
					</vis-fishing-point-create-step1>

					<div class="flex justify-end mt-5">
						<vis-button (click)="cancel()"
						            [style]="'primary'">
							Annuleren
						</vis-button>
						<vis-button *ngIf="editMode"
						            [disabled]="!isGeneralStepValid()"
						            (click)="save()"
						            [style]="'primary'"
						            class="ml-2">
							Bewaren
						</vis-button>
						<vis-button *ngIf="!(editMode && fishingPointType === FishingPointType.STAGNANT)"
						            class="ml-2"
						            [disabled]="!isGeneralStepValid()"
						            (click)="goToNextStep()"
						            [style]="'primary'">
							Volgende
						</vis-button>
					</div>
				</div>


				<div *ngIf="currentStep === FishingPointCreationStep.WATER_COURSE"
				     class="px-4 py-8 sm:px-0">
					<vis-fishing-point-create-step2 [formGroup]="formGroup"
					                                [editMode]="editMode">
					</vis-fishing-point-create-step2>
					<div class="flex justify-end mt-5">
						<vis-button (click)="cancel()"
						            [style]="'primary'">
							Annuleren
						</vis-button>
            <vis-button class="ml-2"
                        (click)="goToPreviousStep()"
                        [style]="'primary'">
              Vorige
            </vis-button>
						<vis-button class="ml-2"
						            [disabled]="!isWaterCourseValid()"
						            (click)="save()"
						            [style]="'primary'">
							Bewaren
						</vis-button>
					</div>
				</div>


				<div *ngIf="currentStep === FishingPointCreationStep.BLUE_LAYER"
				     class="px-4 py-8 sm:px-0">
					<vis-fishing-point-create-step3 [formGroup]="formGroup"
                                          [submitted]="submitted"
                                          [editMode]="editMode"></vis-fishing-point-create-step3>
					<div class="flex justify-end mt-5">
						<vis-button (click)="cancel()"
						            [style]="'primary'">
							Annuleren
						</vis-button>
            <vis-button class="ml-2"
                        (click)="goToPreviousStep()"
                        [style]="'primary'">
              Vorige
            </vis-button>
						<vis-button class="ml-2"
						            [disabled]="!isBlueLayerValid()"
						            (click)="save()"
						            [style]="'primary'">
							Bewaren
						</vis-button>
					</div>
				</div>

			</div>
		</main>
	</div>

</vis-stacked-layout>
