<section aria-labelledby="gallery-heading" class="mt-8 pb-16 px-6 flex-grow text-gray-500">
  <p>Foto's worden binnen een bepaalde structuur bijgehouden in <a class="underline" href="https://inbo.tandemvault.com/">Tandemvault</a>.</p>

  <p class="mt-2 text-lg text-gray-800">Hoe worden foto's naar Tandemvault geüpload?</p>
  <ol class="list-decimal list-inside">
    <li>We nemen de algemene collectie die op het project staat: alle subcollecties komen in deze collectie terecht.</li>
    <li>Het jaartal van de huidige wordt opgezocht.</li>
    <li>Er wordt opgezocht of er een subcollectie bestaat voor dit jaartal. Indien niet maakt de applicatie deze aan.</li>
    <li>De foto's komen in de subcollectie terecht (dit kan even duren)</li>
    <li>Verschillende tags worden toegevoegd. Via de tag 'vis:waarnemingid:ID' kunnen we de foto aan een waarneming linken.</li>
    <li>Van zodra Tandemvault de foto's verwerkt heeft zullen deze beschikbaar zijn in de tab Waarneming en Project</li>
  </ol>

  <p class="mt-2 text-lg text-gray-800">Wat kan ik in de verschillende tabs zien?</p>
  <ol class="list-disc list-inside">
    <li>Waarneming: Alle foto's met de tag: 'vis:waarnemingid:ID'. Opgelet het maakt niet uit in welke collectie de foto zit enkel de tag is van belang.</li>
    <li>Project: Alle foto's die in de collectie zitten die op het project is gedefinieerd.</li>
    <li>Upload: Nieuwe foto's uploaden voor de waarneming.</li>
  </ol>
</section>
