<div class="px-4 py-8 sm:px-8 -my-2 sm:-mx-6 lg:-mx-8">
  <div class="lg:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <select [(ngModel)]="currentUrl" #navigationSelect (change)="navigate(navigationSelect.value)" id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm rounded-md">
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId ">Algemeen</option>
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId + '/bijzonderheden'">Bijzonderheden</option>
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId + '/parameters'">Parameters</option>
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId + '/methode'">Vismethode</option>
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId + '/habitat'">Habitat</option>
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId + '/traject'">Tekening / Traject omgeving</option>
      <option [value]="'/projecten/' + projectCode + '/waarnemingen/' + surveyEventId + '/metingen'">Metingen</option>
    </select>
  </div>
  <div class="hidden lg:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs" >
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId]" [routerLinkActiveOptions]="{exact: true}" routerLinkActive #rla="routerLinkActive" [ngClass]="rla.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Algemeen
        </a>
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'bijzonderheden']" routerLinkActive #rla2="routerLinkActive" [ngClass]="rla2.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Bijzonderheden
        </a>
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'parameters']" routerLinkActive #rla3="routerLinkActive" [ngClass]="rla3.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Parameters
        </a>
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'methode']" routerLinkActive #rla4="routerLinkActive" [ngClass]="rla4.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Vismethode
        </a>
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'habitat']" routerLinkActive #rla5="routerLinkActive" [ngClass]="rla5.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Habitat
        </a>
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'traject']" routerLinkActive #rla6="routerLinkActive" [ngClass]="rla6.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Tekening / Traject omgeving
        </a>
        <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEventId, 'metingen']" routerLinkActive #rla7="routerLinkActive" [ngClass]="rla7.isActive ? 'border-pink-500 text-pink-600' : 'text-gray-500 hover:text-gray-700 hover:border-gray-300'" class="whitespace-nowrap py-4 px-1 border-b-2 border-transparent font-medium text-sm">
          Metingen
        </a>
      </nav>
    </div>
  </div>
</div>
