<div class="flex justify-between">
  <div class="flex space-x-4 px-2 h-12 items-center">
    <div><img class="h-7 w-auto" src="assets/images/logo.png" alt="Logo"></div>
    <div class="h-12 border border-l transform -rotate-12 -mt-2"></div>
    <div class="font-medium">Vlaanderen</div>
    <div class="h-full border border-l transform -rotate-12"></div>
    <div class="text-sm font-medium">
      <span>V.I.S.</span>
    </div>
  </div>
  <div class="hidden sm:flex space-x-4 h-12 items-center">
    <div class="h-full flex items-center skew-x-12 transform bg-gray-50 inline-flex -mr-7 w-10"></div>
    <div class="h-full flex items-center font-medium pl-10 pr-4 uppercase text-xs bg-gray-200">
      Contacteer ons
      <span tabindex="0" class="bg-gray-200 p-2 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </span>
    </div>
  </div>
</div>
<nav class="bg-pink-500" aria-label="Global">
  <div class="max-w-7xl mx-auto sm:px-2 lg:px-6">
    <div class="flex justify-between h-16">
      <div class="flex items-center px-2 lg:px-0">
        <div class="hidden lg:flex lg:space-x-4">
          <ng-container *ngFor="let nl of navigationLinks">
            <a *ngIf="nl.role === null || authService.hasRole(nl.role)" [routerLink]="nl.url"
               class="rounded-md py-2 px-3 text-sm font-medium text-white hover:bg-pink-400">
              {{nl.title}}
            </a>
          </ng-container>

        </div>
      </div>
      <div class="flex-1 flex items-center justify-center px-2 lg:ml-6 lg:justify-end">
        <div class="max-w-lg w-full lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative text-white focus-within:text-gray-400">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <!-- Heroicon name: search -->
              <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                   fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      clip-rule="evenodd"/>
              </svg>
            </div>
            <input [(ngModel)]="search" (keydown)="searchProject($event)" id="search"
                   class="block w-full bg-pink-400 border-transparent py-2 pl-10 pr-3 text-base leading-5 placeholder-white focus:outline-none focus:bg-white focus:ring-0 focus:border-white focus:text-gray-900 focus:placeholder-gray-400 sm:text-sm rounded-md"
                   placeholder="Zoek project" type="search">
          </div>
        </div>
      </div>
      <div class="flex items-center lg:hidden">
        <!-- Mobile menu button -->
        <button (click)="isOpen = !isOpen"
                class="inline-flex items-center justify-center p-2 rounded-md text-pink-200 hover:text-white hover:bg-pink-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <svg [class.hidden]="isOpen" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
          </svg>
          <svg [class.hidden]="!isOpen" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
      <div class="hidden lg:ml-4 lg:flex lg:items-center">
        <app-tip-icon [style]="'header'"></app-tip-icon>

        <!-- Profile dropdown -->
        <app-profile-dropdown></app-profile-dropdown>
      </div>
    </div>
  </div>

  <!--
    Mobile menu, toggle classes based on menu state.

    Menu open: "block", Menu closed: "hidden"
  -->
  <div [class.hidden]="!isOpen" class="lg:hidden">
    <div class="pt-2 pb-3 px-2 space-y-1">
      <ng-container *ngFor="let nl of navigationLinks">
        <a *ngIf="nl.role === null || authService.hasRole(nl.role)" [routerLink]="nl.url"
           class="block rounded-md py-2 px-3 text-base font-medium text-white hover:text-white hover:bg-pink-400">
          {{nl.title}}
        </a>
      </ng-container>
    </div>
    <div class="pt-4 pb-3 border-t border-pink-500">
      <div class="flex items-center px-4">
        <div class="flex-shrink-0">
          <img *ngIf="picture" class="h-10 w-10 rounded-full" [src]="picture" alt="">
          <div *ngIf="!picture"
               class="flex items-center justify-center w-10 h-10 bg-gray-300 rounded-full flex-shrink-0">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
            </svg>
          </div>
        </div>
        <div class="ml-3">
          <div class="text-base font-medium text-white">{{fullName}}</div>
          <div class="text-sm font-medium text-pink-200">{{username}}</div>
        </div>
        <app-tip-icon [style]="'header'" class="ml-auto"></app-tip-icon>
      </div>
      <div class="mt-3 px-2">
        <a routerLink="/profiel"
           class="block rounded-md py-2 px-3 text-base font-medium text-pink-200 hover:text-white hover:bg-pink-400">Profiel</a>

        <a (click)="logout"
           class="block rounded-md py-2 px-3 text-base font-medium text-pink-200 hover:text-white hover:bg-pink-400">Sign
          out</a>
      </div>
    </div>
  </div>
</nav>

<ng-content select="[slot=content]"></ng-content>
