<div [class.bg-gray-100]="formGroupName % 2 === 0" [formGroup]="form"
     class="grid grid-flow-row grid-cols-12 gap-x-2 px-2 py-1.5">
  <div class="col-span-12 md:col-span-4 lg:col-span-3">
    <div class="relative flex"
         title="Groepsmeting"
         data-step="4"
         data-intro="Dit icoon toont aan dat het een groepmeting is."
         data-position="bottom-right-aligned">
      <app-species-search (arrowPressed)="navigateOnArrow($event)"
                          (changed)="onSpeciesChange()"
                          (enterPressed)="enterPressed($event)"
                          (onSearch)="getSpecies($event)"
                          [index]="formGroupName"
                          [taxons]="taxons"
                          class="flex-grow"
                          data-step="2"
                          data-intro="Klik hier om een soort te zoeken en te selecteren.">
      </app-species-search>
      <fa-icon [class.hidden]="type().value !== 'GROUP'" [icon]="faWeightHanging" class="self-center text-gray-500 pl-2"
               title="Groepsmeting"></fa-icon>
      <fa-icon [class.hidden]="type().value !== 'GROUP_LENGTHS'" [icon]="faRulerHorizontal"
               class="self-center text-gray-500 pl-2" title="Groepsmeting met lengtemetingen"></fa-icon>
    </div>
    <app-form-error-message [control]="species()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
  </div>
  <div class="col-span-4 md:col-span-2 lg:col-span-1">
    <app-measurement-amount (arrowPressed)="navigateOnArrow($event)"
                            (enterPressed)="enterPressed($event)"
                            [index]="formGroupName"
                            data-step="3"
                            data-intro="Pas hier het aantal aan. Indien het aantal groter is dan 1, wordt dit een groepsmeting."></app-measurement-amount>
    <app-form-error-message [control]="amount()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
  </div>
  <div class="col-span-4 md:col-span-3 lg:col-span-1">
    <app-measurement-length (arrowPressed)="navigateOnArrow($event)" (enterPressed)="enterPressed($event)"
                            [index]="formGroupName"></app-measurement-length>
    <app-form-error-message [control]="length()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
    <app-form-error-message [control]="formControl()" [submitted]="submitted"
                            [showAfterSubmitted]="true"></app-form-error-message>
  </div>
  <div class="col-span-4 md:col-span-3 lg:col-span-1">
    <app-measurement-weight (arrowPressed)="navigateOnArrow($event)" (enterPressed)="enterPressed($event)"
                            [index]="formGroupName"></app-measurement-weight>
    <app-form-error-message [control]="weight()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
    <app-form-error-message [control]="formControl()" [submitted]="submitted"
                            [showAfterSubmitted]="true"></app-form-error-message>
  </div>
  <div class="col-span-4 md:col-span-2 lg:col-span-1">
    <app-measurement-gender (arrowPressed)="navigateOnArrow($event)" (enterPressed)="enterPressed($event)"
                            [index]="formGroupName"></app-measurement-gender>
    <app-form-error-message [control]="gender()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
  </div>
  <div class="col-span-4 md:col-span-2 lg:col-span-1">
    <app-measurement-fishing-trip-number (arrowPressed)="navigateOnArrow($event)" (enterPressed)="enterPressed($event)"
                                         [index]="formGroupName"></app-measurement-fishing-trip-number>
    <app-form-error-message [control]="afvisBeurtNumber()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
  </div>
  <div class="col-span-11 md:col-span-5 lg:col-span-2">
    <app-measurement-comment (arrowPressed)="navigateOnArrow($event)" (enterPressed)="enterPressed($event)"
                             (tabPressed)="tabPressed()"
                             [index]="formGroupName"></app-measurement-comment>
    <app-form-error-message [control]="comment()" [submitted]="submitted"
                            showAfterSubmitted="true"></app-form-error-message>
  </div>
  <div class="col-span-1 md:col-span-3 lg:col-span-2 text-right self-center text-gray-500 space-x-2"
       data-step="6"
       data-intro="Deze iconen verschijnen wanneer je de meting omvormt naar een groepsmeting met individuele metingen."
       data-position="bottom-right-aligned">
     <span (click)="showIndividualLengthItems = !showIndividualLengthItems"
           [class.hidden]="type().value !== 'GROUP_LENGTHS'"
           [title]="showIndividualLengthItems ? 'Verbergen' : 'Openklappen'" class="inline-block cursor-pointer"
           data-step="7"
           data-intro="Klik op dit icoon om de individuele lengtemetingen te verbergen.">
      <svg [class.rotate-180]="showIndividualLengthItems" class="w-6 h-6 transform" fill="currentColor"
           viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd"
                                                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                                        fill-rule="evenodd"></path></svg>
    </span>

    <span (click)="toGroupMeasurement()" [class.hidden]="type().value !== 'GROUP'" class="inline-block cursor-pointer"
          title="Omvormen naar een groepsmeting met individuele lengtemetingen"
          data-step="5"
          data-intro="Klik op dit icoon om de groepsmeting om te vormen naar een groepsmeting met individuele lengtemetingen.">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
        d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z"></path></svg>
    </span>

    <span (click)="toIndividualMeasurement()" [class.hidden]="type().value !== 'GROUP_LENGTHS'"
          class="inline-block cursor-pointer"
          title="Omvormen naar een individuele meting"
          data-step="8"
          data-intro="Klik op dit icoon om de groepsmeting terug om te vormen naar een groepsmeting zonder individuele lengtemetingen.">
      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
        d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z"></path></svg>
    </span>

    <span (click)="remove()" [class.hidden]="editMode && items().length === 1" class="inline-block cursor-pointer"
          title="Verwijder lijn">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
    </span>

    <span (click)="save()" *ngIf="editMode" class="inline-block cursor-pointer">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path></svg>
    </span>

    <span (click)="cancel()" *ngIf="editMode" class="inline-block cursor-pointer">
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
    </span>
  </div>

  <div [class.hidden]="!showIndividualLengthItems" class="col-span-12">
    <app-measurement-length-measurements [submitted]="submitted"></app-measurement-length-measurements>
  </div>
</div>
