<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow rounded-lg divide-y divide-gray-200">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Metingen
    </h3>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <form [formGroup]="measurementsForm" class="space-y-4">
      <div class="grid grid-flow-row grid-cols-12 grid-rows-4 md:grid-rows-2 lg:grid-rows-1 gap-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <div class="col-span-12 md:col-span-4 lg:col-span-3">Soort</div>
        <div class="col-span-4 md:col-span-2 lg:col-span-1">Aantal</div>
        <div class="col-span-4 md:col-span-3 lg:col-span-1">Lengte</div>
        <div class="col-span-4 md:col-span-3 lg:col-span-1">Gewicht</div>
        <div class="col-span-4 md:col-span-2 lg:col-span-1">Geslacht</div>
        <div class="col-span-4 md:col-span-2 lg:col-span-1"><span class="hidden md:block">Afvisbeurt</span><span class="md:hidden">Afvisb.</span></div>
        <div class="col-span-12 md:col-span-5 lg:col-span-2">Commentaar</div>
        <div></div>
      </div>
      <div class="space-y-4 divide-y lg:divide-none divide-gray-300">
        <div class="grid grid-flow-row grid-cols-12 grid-rows-4 md:grid-rows-2 lg:grid-rows-1 gap-4 pt-4 lg:pt-0" formArrayName="items" *ngFor="let item of items().controls; let i = index;" #lines>
        <ng-container [formGroupName]="i">
          <div class="col-span-12 md:col-span-4 lg:col-span-3">
            <div class="relative">
              <app-searchable-select (ngModelChange)="onSpeciesChange(i)" tabIndex="-1" (keydown)="navigateOnArrow($event, i)" [id]="'species-' + i" formControlName="species" (onSearch)="getSpecies($event)" [options$]="species$"></app-searchable-select>
            </div>
            <app-form-error-message [control]="species(i)" [submitted]="submitted"></app-form-error-message>
          </div>
          <div class="col-span-4 md:col-span-2 lg:col-span-1">
            <input (change)="amountChanged($event, i)" [id]="'amount-' + i" name="amount" formControlName="amount" type="number" min="0" (keydown)="newLineOnEnter($event, i); focusNextLineOnEnter($event, i); navigateOnArrow($event, i)"/>
            <app-form-error-message [control]="amount(i)" [submitted]="submitted"></app-form-error-message>
          </div>
          <div class="col-span-4 md:col-span-3 lg:col-span-1">
            <div class="relative rounded-md shadow-sm">
              <input [imask]="numberMask(3, 0, 99999.999)" [id]="'length-' + i" (keydown)="newLineOnEnter($event, i); focusNextLineOnEnter($event, i); navigateOnArrow($event, i)" name="length" type="text" formControlName="length" [class.pr-8]="(length(i).dirty || length(i).touched) && length(i).warnings"
                     [readOnly]="amount(i).value > 1"
                     [class.focus:border-gray-500]="amount(i).value > 1"
                     [class.bg-gray-100]="amount(i).value > 1"
                     [class.focus:ring-gray-500]="amount(i).value > 1">
              <div *ngIf="(length(i).dirty || length(i).touched) && length(i).warnings" [title]="'Waarde moet tussen ' + length(i).warnings.between.min + ' en ' + length(i).warnings.between.max + ' liggen.'" class="absolute inset-y-0 right-0 pr-3 flex items-center">
                <svg class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
              </div>
            </div>
            <app-form-error-message [control]="length(i)" [submitted]="submitted"></app-form-error-message>
          </div>
          <div class="col-span-4 md:col-span-3 lg:col-span-1">
            <div class="relative rounded-md shadow-sm">
              <input [imask]="numberMask(3, 0, 99999.999)" [id]="'weight-' + i" (keydown)="newLineOnEnter($event, i); focusNextLineOnEnter($event, i); navigateOnArrow($event, i)" name="weight" type="text" formControlName="weight" [class.pr-8]="(weight(i).dirty || weight(i).touched) && weight(i).warnings">
              <div *ngIf="(weight(i).dirty || weight(i).touched) && weight(i).warnings" [title]="'Waarde moet tussen ' + weight(i).warnings.between.min + ' en ' + weight(i).warnings.between.max + ' liggen.'" class="absolute inset-y-0 right-0 pr-3 flex items-center">
                <svg class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
              </div>
            </div>
            <app-form-error-message [control]="weight(i)" [submitted]="submitted"></app-form-error-message>

          </div>
          <div class="col-span-4 md:col-span-2 lg:col-span-1">
            <select (keydown)="newLineOnEnter($event, i); focusNextLineOnEnter($event, i); navigateOnArrow($event, i)"
                    [id]="'gender-' + i" name="gender" formControlName="gender">
              <option value="MALE">M</option>
              <option value="FEMALE">V</option>
              <option value="UNKNOWN">O</option>
            </select>
            <app-form-error-message [control]="gender(i)" [submitted]="submitted"></app-form-error-message>
          </div>
          <div class="col-span-4 md:col-span-2 lg:col-span-1">
            <input (keydown)="newLineOnEnter($event, i); focusNextLineOnEnter($event, i); navigateOnArrow($event, i)" [id]="'afvisBeurtNumber-' + i" name="afvisBeurtNumber" type="number" formControlName="afvisBeurtNumber" />
            <app-form-error-message [control]="afvisBeurtNumber(i)" [submitted]="submitted"></app-form-error-message>

          </div>
          <div class="col-span-11 md:col-span-5 lg:col-span-2">
            <input [id]="'comment-' + i" name="comment" type="text" formControlName="comment"
                   (keydown)="newLineOnEnter($event, i); focusNextLineOnEnter($event, i); navigateOnArrow($event, i); onKeyPress($event, i)" />
            <app-form-error-message [control]="comment(i)" [submitted]="submitted"></app-form-error-message>
          </div>
          <div class="self-center">
            <button *ngIf="!changeOrder" tabIndex="-1" (click)="remove(i)" type="button">
              <svg class="w-5 h-5 text-gray-500 hover:text-red-500 cursor-pointer" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
              </svg>
            </button>
            <button *ngIf="changeOrder && i !== 0" tabIndex="-1" (click)="moveUp(i)" type="button">
              <svg class="w-5 h-5 text-gray-500 hover:text-red-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
              </svg>
            </button>
            <button *ngIf="changeOrder && (i + 1) !== items().length" tabIndex="-1" (click)="moveDown(i)" type="button">
              <svg class="w-5 h-5 text-gray-500 hover:text-red-500 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          </div>
        </ng-container>
      </div>
      </div>
    </form>

    <div class="px-4 py-8 sm:px-0">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
          <button [disabled]="changeOrder" [class.disabled:bg-gray-200]="changeOrder" [class.disabled:cursor-default]="changeOrder"
                  (click)="addNewLine()" type="button" class="inline-flex items-center shadow-sm px-4 py-1.5 border
                  border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50
                  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
            <svg class="-ml-1.5 mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"/>
            </svg>
            <span>Nieuwe meting</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="space-x-3 px-4 py-4 sm:px-6 flex justify-end">
    <app-button [style]="'secondary'" (click)="changeOrder = !changeOrder; disableInputs()">Volgorde wijzigen</app-button>
    <app-button [style]="'primary'" (click)="createMeasurements()">Bewaren</app-button>
  </div>
  <app-tip *ngIf="tip$ | async as tip" [code]="tip.code" [show]="true"></app-tip>
</div>






