<!-- This example requires Tailwind CSS v2.0+ -->
<div
		[ngTransition]="showExistingMeasurements"
		class="pb-4"
		ngTransitionEnter="transition ease-out duration-100"
		ngTransitionEnterEnd="transform opacity-100 scale-100"
		ngTransitionEnterStart="transform opacity-0 scale-95"
		ngTransitionLeave="transition ease-in duration-75"
		ngTransitionLeaveEnd="transform opacity-0 scale-95"
		ngTransitionLeaveStart="transform opacity-100 scale-100">
	<div class="px-4 py-5 sm:px-6">
		<h3 class="text-lg leading-6 font-medium text-gray-900">
			Bestaande metingen
		</h3>
	</div>
	<div>
		<div class="hidden lg:block">
			<app-table>
				<thead>
					<tr>
						<th class="table-header-cell"
						    scope="col">
							Soort
						</th>
						<th class="table-header-cell"
						    scope="col">
							Aantal
						</th>
						<th class="table-header-cell"
						    scope="col">
							Lengte (cm)
						</th>
						<th class="table-header-cell"
						    scope="col">
							Gewicht (g)
						</th>
						<th class="table-header-cell"
						    scope="col">
							Geslacht
						</th>
						<th class="table-header-cell"
						    scope="col">
							Afvisbeurt
						</th>
						<th class="table-header-cell"
						    scope="col">
							Commentaar
						</th>
					</tr>
				</thead>
				<tbody>
					<tr appRow>
						<td *ngIf="loading"
						    appCell
						    colspan="7">
							<app-loading-spinner></app-loading-spinner>
						</td>
					</tr>

					<tr *ngFor="let measurement of existingMeasurements; let index = index"
					    [rownumber]="index"
					    appRow>
						<td [condense]="true"
						    appCell>
							{{measurement.taxon.nameDutch}}
						</td>
						<td [condense]="true"
						    appCell>
							{{measurement.amount}}
							<fa-icon *ngIf="measurement.type === 'GROUP'"
							         [icon]="faWeightHanging"
							         class="self-center text-gray-500 pl-2"
							         title="Groepsmeting"></fa-icon>
							<fa-icon *ngIf="measurement.type === 'GROUP_LENGTHS'"
							         [icon]="faRulerHorizontal"
							         class="self-center text-gray-500 pl-2"
							         title="Groepsmeting met lengtemetingen"></fa-icon>
						</td>
						<td [condense]="true"
						    appCell>
							{{measurement.length}}
						</td>
						<td [condense]="true"
						    appCell>
							{{measurement.weight}}
						</td>
						<td [condense]="true"
						    appCell>
							{{'gender.' + measurement.gender | translate}}
						</td>
						<td [condense]="true"
						    appCell>
							{{measurement.afvisBeurtNumber}}
						</td>
						<td [condense]="true"
						    appCell>
							{{measurement.comment}}
						</td>
					</tr>
				</tbody>
			</app-table>
		</div>

		<div class="bg-white shadow overflow-hidden sm:rounded-md lg:hidden">
			<ul class="divide-y divide-gray-200">
				<li *ngIf="loading">
					<app-loading-spinner></app-loading-spinner>
				</li>
				<li *ngFor="let measurement of existingMeasurements">
					<a class="block hover:bg-gray-50"
					   href="#">
						<div class="px-4 py-4 sm:px-6">
							<div class="flex items-center justify-between">
								<p class="text-sm font-medium text-pink-600 truncate">
									{{measurement.taxon.nameDutch}}
								</p>
								<div class="ml-2 flex-shrink-0 flex">
									<p class="mt-2 flex items-center text-sm text-gray-500">
										<b>Afvisb.</b>&nbsp;{{measurement.afvisBeurtNumber}}
									</p>
								</div>
							</div>
							<div class="mt-2 flex justify-between">
								<div class="flex">
									<p class="flex items-center text-sm text-gray-500">
										<!-- Heroicon name: hashtag -->
										<svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
										     fill="none"
										     stroke="currentColor"
										     viewBox="0 0 24 24"
										     xmlns="http://www.w3.org/2000/svg">
											<path d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"
											      stroke-linecap="round"
											      stroke-linejoin="round"
											      stroke-width="2"></path>
										</svg>
										{{measurement.amount}}
									</p>
									<p class="flex items-center text-sm text-gray-500 ml-6">
										<svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
										     stroke="currentColor"
										     viewBox="0 0 50 50"
										     xmlns="http://www.w3.org/2000/svg">
											<path
													d="M.586 34L16 49.414 49.414 16 34 .586.586 34zM16 46.586L3.414 34 5.5 31.914l4.793 4.793 1.414-1.414L6.914 30.5l3.586-3.586 2.793 2.793 1.414-1.414-2.793-2.793 3.586-3.586 4.793 4.793 1.414-1.414-4.793-4.793 3.586-3.586 2.793 2.793 1.414-1.414-2.793-2.793 3.586-3.586 4.793 4.793 1.414-1.414-4.793-4.793L30.5 6.914l2.793 2.793 1.414-1.414L31.914 5.5 34 3.414 46.586 16 16 46.586z"/>
										</svg>
										{{measurement.length}} cm
									</p>
									<p class="flex items-center text-sm text-gray-500 ml-6">
										<!-- Heroicon name: scale -->
										<svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
										     stroke="currentColor"
										     viewBox="0 0 24 24"
										     xmlns="http://www.w3.org/2000/svg">
											<path
													d="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3"
													stroke-linecap="round"
													stroke-linejoin="round"
													stroke-width="2"></path>
										</svg>
										{{measurement.weight}} gr
									</p>
								</div>
								<div class="mt-2 flex items-center text-sm text-gray-500">
									<p>
										{{'gender.full.' + measurement.gender | translate}}
									</p>
								</div>
							</div>
							<div *ngIf="measurement.comment"
							     class="mt-2 flex items-center text-sm text-gray-500">
								<p class="flex items-center text-sm text-gray-500">
									<!-- Heroicon name: annotation -->
									<svg aria-hidden="true"
									     class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"
									     fill="none"
									     stroke="currentColor"
									     viewBox="0 0 24 24"
									     xmlns="http://www.w3.org/2000/svg">
										<path
												d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"
												stroke-linecap="round"
												stroke-linejoin="round"
												stroke-width="2"/>
									</svg>
									{{measurement.comment}}
								</p>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>
<div class="w-full pb-4">
	<div class="relative">
		<div aria-hidden="true"
		     class="absolute inset-0 flex items-center">
			<div class="w-full border-t border-gray-300"></div>
		</div>
		<div class="relative flex justify-center">
			<button (click)="showExistingMeasurementsClick()"
			        class="inline-flex items-center shadow-sm px-4 py-1.5 border
                  border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50
                  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500"
			        data-intro="Klik hier voor het tonen van de reeds bestaande metingen voor deze waarneming."
			        data-step="1"
			        type="button">
				<span>{{showExistingMeasurements ? 'Verberg' : 'Toon'}} bestaande metingen</span>
			</button>
		</div>
	</div>
</div>

<div class="bg-white shadow rounded-lg divide-y divide-gray-200 mt-8">
	<div class="flex px-4 py-5 sm:px-6">
    <span class="text-lg leading-6 font-medium text-gray-900">
      Metingen
    </span>
		<div class="ml-auto">
			<button (click)="playIntro()"
			        class="text-pink-600 rounded-full hover:text-pink-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-pink-600 focus:ring-white"
			        data-intro="Klik op dit icoon om de demo opnieuw af te spelen."
			        data-step="10">
				<span class="sr-only">Demo afspelen</span>
				<!-- Heroicon name: play -->
				<svg class="h-6 w-6"
				     fill="none"
				     stroke="currentColor"
				     viewBox="0 0 24 24"
				     xmlns="http://www.w3.org/2000/svg">
					<path d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"
					      stroke-linecap="round"
					      stroke-linejoin="round"
					      stroke-width="2"/>
					<path d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
					      stroke-linecap="round"
					      stroke-linejoin="round"
					      stroke-width="2"/>
				</svg>
			</button>
			<app-tip-icon tipPage="METING">
			</app-tip-icon>
		</div>
	</div>
	<div class="px-4 py-5 sm:p-6" *ngIf="measurementsForm">
		<form [formGroup]="measurementsForm"
		      class="space-y-4">
			<div
					class="grid grid-flow-row grid-cols-12 grid-rows-4 md:grid-rows-2 lg:grid-rows-1 gap-2 text-left text-xs font-medium text-gray-500 tracking-wider px-2">
				<div class="uppercase col-span-12 md:col-span-4 lg:col-span-3">Soort</div>
				<div class="uppercase col-span-4 md:col-span-2 lg:col-span-1">Aantal</div>
				<div class="col-span-4 md:col-span-3 lg:col-span-1">LENGTE (cm)</div>
				<div class="col-span-4 md:col-span-3 lg:col-span-1">GEWICHT (g)</div>
				<div class="uppercase col-span-4 md:col-span-2 lg:col-span-1">Geslacht</div>
				<ng-container *ngIf="!isAnkerkuilSurvey; else ankerkuil">
					<div class="uppercase col-span-4 md:col-span-2 lg:col-span-1">
						<span class="hidden md:block">Afvisbeurt</span>
						<span class="md:hidden">Afvisb.</span></div>
					<div class="col-span-12 md:col-span-5 lg:col-span-2">Commentaar</div>
				</ng-container>
				<ng-template #ankerkuil>
					<div class="uppercase col-span-4 md:col-span-2 lg:col-span-2">Zijde</div>
					<div class="uppercase col-span-4 md:col-span-5 lg:col-span-1">
						<span class="hidden md:block">Verdunningsfactor</span>
						<span class="md:hidden">Verdunn.</span>
					</div>
				</ng-template>
				<div></div>
			</div>
			<div class="space-y-0.5">
				<div #lines
				     *ngFor="let item of items().controls; let i = index;"
				     formArrayName="items">
					<app-measurement-row (newline)="addNewLine()"
					                     (removeClicked)="remove($event)"
					                     [formGroupName]="i"
					                     (enterClicked)="measurementRowEnterClicked($event)"
					                     [isAnkerkuil]="isAnkerkuilSurvey"
					                     [submitted]="submitted">
					</app-measurement-row>
				</div>
			</div>
		</form>

		<div class="px-4 py-8 sm:px-0">
			<div class="relative">
				<div aria-hidden="true"
				     class="absolute inset-0 flex items-center">
					<div class="w-full border-t border-gray-300"></div>
				</div>
				<div class="relative flex justify-center">
					<button (click)="addNewLine()"
					        class="inline-flex items-center shadow-sm px-4 py-1.5 border
                  border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50
                  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500"
					        type="button">
						<svg aria-hidden="true"
						     class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"
						     fill="currentColor"
						     viewBox="0 0 20 20"
						     xmlns="http://www.w3.org/2000/svg">
							<path clip-rule="evenodd"
							      d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
							      fill-rule="evenodd"/>
						</svg>
						<span>Nieuwe meting</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="space-x-3 px-4 py-4 sm:px-6 flex justify-end">
		<app-button (click)="cancel()">Annuleren</app-button>
		<app-button (click)="createMeasurements()"
		            [style]="'primary'"
		            class="ml-3">Bewaren
		</app-button>
	</div>
	<app-tip *ngIf="tip$ | async as tip"
	         [code]="tip.code"
	         [show]="true"></app-tip>

	<app-modal (onCancel)="cancelModal()"
	           (onPrimary)="confirmModal()"
	           (onOptional)="doNotShowAgain()"
	           [isOpen]="introModalOpen"
	           showOptional="true">
		<ng-container slot="title">
			Introductie - Metingen toevoegen
		</ng-container>
		<ng-container slot="content">
			<p class="font-bold text-red-600">LET OP! De demo kan enkel afgespeeld worden op een leeg formulier. Al uw
			                                  huidige
			                                  wijzigingen zullen ongedaan gemaakt worden.</p>
		</ng-container>
		<ng-container slot="primary-button">
			Afspelen
		</ng-container>
		<ng-container slot="optional-button">
			Niet meer tonen
		</ng-container>
	</app-modal>
</div>
