<form [formGroup]="measurementsForm">
  <div class="flex flex-col hidden lg:block">
    <div style="overflow: inherit" class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div style="overflow: inherit" class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Soort
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Aantal
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Lengte
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Gewicht
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Geslacht
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Lengtemaat
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Afvisbeurt
                </th>
                <th scope="col"
                    class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Commentaar
                </th>
              </tr>
            </thead>
            <tbody id="table" class="bg-white divide-y divide-gray-200">
              <tr formArrayName="items" *ngFor="let item of items().controls; let i = index;">
                <ng-container [formGroupName]="i">
                  <td class="px-3 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    <app-searchable-select formControlName="species" (onSearch)="getSpecies($event)"
                                           [options$]="species$"></app-searchable-select>
                    <p *ngIf="(item.get('species').dirty || item.get('species').touched) && item.get('species').errors"
                       class="mt-2 text-sm text-red-600">Soort is verplicht</p>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input formControlName="amount" type="number"
                           class="max-w-lg block w-full shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input formControlName="length" type="number" [readOnly]="item.get('amount').value > 1"
                           [class]="item.get('amount').value > 1 ? 'focus:ring-gray-500 focus:border-gray-500 bg-gray-100' : 'focus:ring-pink-500 focus:border-pink-500'"
                           class="max-w-lg block w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input formControlName="weight" type="number"
                           class="max-w-lg block w-full shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input formControlName="gender" type="text"
                           class="max-w-lg block w-full shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input formControlName="lengthMeasurement" type="text"
                           class="max-w-lg block w-full shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input formControlName="afvisBeurtNumber" type="text"
                           class="max-w-lg block w-full shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                  <td class="px-3 py-4 whitespace-nowrap text-sm text-gray-900">
                    <input (keydown)="onKeyPress($event, i)" name="comment" formControlName="comment" type="text"
                           class="max-w-lg block w-full shadow-sm focus:ring-pink-500 focus:border-pink-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"/>
                  </td>
                </ng-container>
              </tr>
            </tbody>
          </table>
          <div slot="buttons" class="flex-shrink-0 px-4 border-t border-gray-200 py-5 sm:px-6">
            <div class="space-x-3 flex justify-end">
                      <span class="inline-flex rounded-md shadow-sm">
                        <button [routerLink]="['../']" type="button"
                                class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                          Annuleren
                        </button>
                      </span>
              <span class="inline-flex rounded-md shadow-sm">
                        <button (click)="createMeasurements()" type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink active:bg-pink-700 transition duration-150 ease-in-out">
                          Bewaren
                        </button>
                      </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
