<div [formGroup]="form"
     class="relative rounded-md shadow-sm">
	<input (keydown)="keydown($event)"
	       [class.bg-gray-100]="amount().value > 1"
	       [class.focus:border-gray-500]="amount().value > 1"
	       [class.focus:ring-gray-500]="amount().value > 1"
	       [class.pr-8]="(length().dirty || length().touched) && length().warningMessages"
	       [id]="'length-' + index"
	       [imask]="numberMask(3, 0, 99999.999)"
	       [unmask]="'typed'"
	       [readOnly]="amount().value > 1"
	       formControlName="length"
	       name="length"
	       type="text">
	<app-warning-icon *ngIf="length()?.warningMessages?.between"
	                            [messages]="[length().warningMessages.between]">
	</app-warning-icon>
</div>
