<button [id]="passedId + '-button'"
        [disabled]="isDisabled"
        #selectButton
        (focus)="toggle()"
        (click)="setFocus()"
        type="button"
        (keyup.enter)="enter($event)"
        class="input-element">

  <span class="input-value-container">
      <div *ngIf="selectedValueOption; else noValue"
           class="flex">
            <span class="flex-grow">
                {{selectedValueOption?.displayValue}}
            </span>
          <a *ngIf="selectedValueOption.externalLink"
             [routerLink]="selectedValueOption.externalLink"
             tabindex="-1"
             class="text-gray-400 self-center"
             target="_blank">
            <ng-container [ngTemplateOutlet]="linkIcon"></ng-container>
          </a>
      </div>

      <ng-template #noValue>
	      <div class="flex">
            <span *ngIf="!selectedValue"
                  class="flex-grow">{{placeholder}}</span>
	      </div>
      </ng-template>
  </span>
</button>

<ul #valuesList
    [ngTransition]="open"
    class="absolute mt-1 w-full bg-white shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm"
    [class.hidden]="!open"
    [class.z-10]="open"
    ngTransitionLeave="transition ease-in duration-100"
    ngTransitionLeaveStart="opacity-100"
    ngTransitionLeaveEnd="opacity-0"
    role="listbox">

	<li (keydown)="focusSibbling($event)"
	    class="search-box-container">
		<div class="mt-1 relative rounded-md shadow-sm w-full">
			<input #searchBox
			       autocomplete="off"
			       placeholder="{{configuration.searchPlaceholder}}"
			       (keydown.arrowDown)="focusFirstResultItem($event)"
			       name="search"
			       type="text"
			       class="search-box">
			<div class="input-icon">
				<ng-container [ngTemplateOutlet]="arrowsIcon"></ng-container>
			</div>
		</div>
	</li>
	<li *ngIf="options?.length === 0; else resultList"
	    class="no-results-message">
		<span>{{configuration.noResultsMessage}}</span>
	</li>

	<ng-template #resultList>
		<li *ngFor="let option of options; let i = index;"
		    #searchResultItem
		    [tabindex]="i"
		    class="search-result-item"
		    (mousedown)="select(option)"
		    (keydown)="focusSibbling($event); selectOnEnter($event, option)">
            <span class="search-result-item__text"
                  [ngClass]="{'search-result-item__text--selected': selectedValue === option.displayValue}">
              {{option.displayValue}}
            </span>
		</li>
	</ng-template>
</ul>

<ng-template #arrowsIcon>
	<svg class="h-5 w-5 text-gray-400"
	     fill="currentColor"
	     viewBox="0 0 20 20"
	     xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd"
		      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
		      clip-rule="evenodd"></path>
	</svg>
</ng-template>

<ng-template #linkIcon>
	<svg class="w-5 h-5"
	     fill="currentColor"
	     viewBox="0 0 20 20"
	     xmlns="http://www.w3.org/2000/svg">
		<path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
		<path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
	</svg>
</ng-template>
