<style>
  .top-100 {
    top: 100%
  }

  .max-h-select {
    max-height: 300px;
  }
</style>


<div class="z-50 flex-auto flex flex-col items-center">
  <div class="flex flex-col items-center relative">
    <div class="w-full">
      <div class="my-2 bg-white p-1 flex border border-gray-200 rounded">
        <div class="flex flex-auto flex-wrap"></div>
        <input #searchBox placeholder="Minstens 3 karakters..." [value]="selectedValue.translateKey ? (selectedValue.translateKey | translate) : ''" class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
        <!--<div *ngIf="isOpen" class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200">
          <button tabindex="-1" (click)="isOpen = !isOpen"
                  class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"/>
            </svg>
          </button>
        </div>
        <div *ngIf="!isOpen" class="text-gray-300 w-8 py-1 pl-2 pr-1 border-l flex items-center border-gray-200">
          <button tabindex="-1" (click)="isOpen = !isOpen"
                  class="cursor-pointer w-6 h-6 text-gray-600 outline-none focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
            </svg>
          </button>
        </div>-->
      </div>
    </div>
    <div [hidden]="!isOpen" class="absolute shadow top-100 z-50 h-40 w-full lef-0 rounded max-h-select overflow-y-auto">
      <div class="flex flex-col w-full">
        <div *ngFor="let option of options$ | async" (click)="select(option)" class="cursor-pointer w-full border-gray-100 rounded-t border-b" style="">
          <input tabindex="-1" hidden [value]="option.id">
          <div
            class="flex w-full items-center p-2 pl-2 border-transparent bg-white border-l-2 relative hover:bg-teal-600 hover:text-teal-100 hover:border-teal-600">
            <div class="w-full items-center flex">
              <div class="mx-2 leading-6 overflow-ellipsis overflow-x-hidden">{{option.translateKey | translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
