<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Project details
    </h3>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Naam
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.name}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Status
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          <vis-pill *ngIf="project" [color]="project.status === 'ACTIVE' ? 'green' : 'red'">
            {{project?.status === 'ACTIVE' ? 'Actief' : 'Inactief'}}
          </vis-pill>
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          Periode
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.start | date:'dd/MM/yyyy'}} {{project?.end ? ' - ' : ''}} {{project?.end | date:'dd/MM/yyyy'}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Instanties
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.instances.join(", ")}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Teams
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.teams.join(", ")}}
        </dd>
      </div>

      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          Lengtemaat
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{'lengthType.long.' + project?.lengthType | translate}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Tandemvault collectie
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.tandemvaultcollectionslug}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Contactpersoon
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.contact}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Aangemaakt door
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.createUser}}
        </dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Aangemaakt op
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.createDate | date:'dd/MM/yyyy'}}
        </dd>
      </div>
      <div class="sm:col-span-2">
        <dt class="text-sm font-medium text-gray-500">
          Beschrijving
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          {{project?.description}}
        </dd>
      </div>
    </dl>
  </div>
  <div class="px-4 py-4 sm:px-6 flex justify-end">
    <vis-button [style]="'white'" (click)="exportProject()" [role]="role.ExportProject">Exporteer</vis-button>
    <vis-button *ngIf="project?.end"
                (click)="reOpenProject()"
                [style]="'secondary'"
                class="ml-3"
                [role]="role.EditProject"
                [isUserLinkedToProject]="project?.canEdit">Heropenen
    </vis-button>
    <vis-button [disabled]="!!project?.end"
                [disabledReason]="'Een afgesloten project kan niet bewerkt worden.'"
                [style]="'primary'"
                class="ml-3"
                [role]="role.EditProject"
                [routerLink]="['/projecten', project?.code?.value, 'bewerk']"
                [isUserLinkedToProject]="project?.canEdit">Bewerken
    </vis-button>
  </div>
</div>
