<div class="bg-white shadow sm:rounded-lg border-t">
  <div class="px-4 py-5 sm:p-6">
    <form (keydown)="filterOnKeydown($event)" [formGroup]="formGroup">
      <div>
        <div class="grid gap-2 grid-cols-1 lg:grid-cols-5">
          <ng-content select="[slot=simple]"></ng-content>
          <div *ngIf="!advancedFilterIsVisible" class="lg:text-right lg:col-end-6">
            <app-button (click)="reset(); showResetTip = true;">
              Reset
            </app-button>
            <app-button [class.hidden]="hideSearchButton" (click)="filter()" [style]="'primary'">
              <svg class="-ml-0.5 mr-2 h-3 w-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
              Zoek
            </app-button>
          </div>
        </div>

        <div
          [ngTransition]="advancedFilterIsVisible"
          ngTransitionEnter="transition ease-out duration-100"
          ngTransitionEnterStart="transform opacity-0 scale-95"
          ngTransitionEnterEnd="transform opacity-100 scale-100"
          ngTransitionLeave="transition ease-in duration-75"
          ngTransitionLeaveStart="transform opacity-100 scale-100"
          ngTransitionLeaveEnd="transform opacity-0 scale-95">
          <div
            class="grid gap-2 grid-cols-1 lg:grid-cols-5 xl:grid-cols-5 mt-4">
            <ng-content select="[slot=advanced]"></ng-content>

            <div class="lg:text-right lg:col-end-6 xl:col-end-6">
              <span class="mt-1 inline-flex rounded-md shadow-sm">
                <app-button (click)="reset(); showResetTip = true;">
                  Reset
                </app-button>
              </span>
              <span [class.hidden]="hideSearchButton" class="mt-1 inline-flex rounded-md shadow-sm">
                <app-button (click)="filter()" [style]="'primary'">
                  <!-- Heroicon name: search -->
                  <svg class="-ml-0.5 mr-2 h-3 w-3" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                       xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2"
                                                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                  Zoek
                </app-button>
              </span>
            </div>

          </div>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="flex justify-center" *ngIf="showAdvancedFilter">
  <div class="bg-white w-64 text-center py-3 shadow-under rounded-b cursor-pointer"
       (click)="advancedFilterIsVisible = !advancedFilterIsVisible">
    <span class="uppercase font-medium text-gray-400 text-sm">
      <svg class="w-6 h-6 inline-block pr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M4 6h16M4 12h16M4 18h16"></path></svg>
      {{advancedFilterIsVisible ? 'Minder' : 'Meer'}} opties</span>
  </div>
</div>
<app-tip [code]="'FORM_RESET'" [show]="showResetTip"></app-tip>
