vis-fishing-points-map {

  $bg-color: #C04384;

  .fishing-point-marker-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fishing-point-marker {
    position: relative;
    background: $bg-color;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }

  .pulse {
    animation: ping 0.8s ease-in-out infinite both;
  }

  .hotspot {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;

    &.main-wrapper {
      position: absolute;
    }

    &.dots-container {
      position: relative;
    }

    &.dot1 {
      width: 11px;
      height: 11px;
      border: 5px solid $bg-color;
      background-color: transparent;
      z-index: 1;
      opacity: .5;
      animation: dot1 1s infinite;
    }

    &.dot2 {
      width: 11px;
      height: 11px;
      background-color: $bg-color;
      z-index: 2;
      animation: dot2 1s infinite;
    }

    &.dot3 {
      width: 11px;
      height: 11px;
      background-color: $bg-color;
      z-index: 3;
      animation: dot3 .5s alternate infinite;
    }
  }

  @keyframes dot1 {
    0% {
      opacity: .5;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(5);
    }
  }

  @keyframes dot2 {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(2);
    }
  }

  @keyframes dot3 {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}
