<div class="px-4 py-8 sm:px-0">
	<div>
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-medium leading-6 text-gray-900">Vispunt</h3>
					<p class="mt-1 text-sm text-gray-600">
						Algemene informatie over het vispunt.
					</p>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow sm:rounded-md sm:overflow-hidden">
					<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
						<dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Meetplaatscode
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.code}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Omschrijving
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.description}}
								</dd>
							</div>
							<div *ngIf="!fishingPoint?.isLentic"
							     class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Helling (‰)
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.incline}}
								</dd>
							</div>
							<div *ngIf="!fishingPoint?.isLentic"
							     class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Breedte (m)
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.width}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Brak water
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									<input [checked]="fishingPoint?.brackishWater ? 'checked' : null"
									       disabled="disabled"
									       type="checkbox">
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Getijdewater
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									<input [checked]="fishingPoint?.tidalWater ? 'checked' : null"
									       disabled="disabled"
									       type="checkbox"/>
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Indextype
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{'index.type.' + fishingPoint?.fishingIndexType | translate}}
								</dd>
							</div>
							<div class="sm:col-span-1">
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Aangemaakt door
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.createUser}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Aangemaakt op
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.createDate}}
								</dd>
							</div>
						</dl>
					</div>
					<div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
						<app-button (click)="remove()"
						            [role]="role.CreateFishingPoint"
						            [style]="'secondary'">
							Verwijderen
						</app-button>
						<app-button [role]="role.CreateFishingPoint"
						            [style]="'primary'"
						            (click)="editFishingPoint()"
						            class="ml-2">
							Bewerken
						</app-button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div aria-hidden="true"
	     class="hidden sm:block">
		<div class="py-5">
			<div class="border-t border-gray-200"></div>
		</div>
	</div>

	<div class="mt-10 sm:mt-0">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-medium leading-6 text-gray-900">Coördinaten</h3>
					<p class="mt-1 text-sm text-gray-600">
						De coördinaten zijn manueel ingegeven bij het aanmaken van het vispunt. De snapped coördinaten
						zijn achteraf
						in een andere applicatie gesnapped op het dichtste punt van de geselecteerde VHA.
					</p>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow sm:rounded-md sm:overflow-hidden">
					<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
						<dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Gemeente
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.municipality}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Provincie
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.province}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									NIS Code
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.nisCode}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									NIS Code PR
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.nisCodePr}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Coördinaten - Lambert 72 X, Y
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.x + ', ' + fishingPoint?.y}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Coördinaten - Latitude/Longitude
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.lat + ', ' + fishingPoint?.lng}}
								</dd>
							</div>

							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Snapped coördinaten - Lambert 72 X, Y
								</dt>
								<dd *ngIf="fishingPoint?.snappedX && fishingPoint?.snappedY"
								    class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.snappedX + ', ' + fishingPoint?.snappedY}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Snapped coördinaten - Latitude/Longitude
								</dt>
								<dd *ngIf="fishingPoint?.snappedLat && fishingPoint?.snappedLng"
								    class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.snappedLat + ', ' + fishingPoint?.snappedLng}}
								</dd>
							</div>


							<div class="sm:col-span-2">
								<app-fishing-points-map
										[canAddPoints]="false"
										[enableSidebar]="false"
										[disableClustering]="true"
										[tooltipsVisible]="false"
										[zoomLevel]="15"
										(loaded)="setMapLoaded()">
								</app-fishing-points-map>
							</div>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="!fishingPoint?.isLentic"
	     aria-hidden="true"
	     class="hidden sm:block">
		<div class="py-5">
			<div class="border-t border-gray-200"></div>
		</div>
	</div>

	<div *ngIf="!fishingPoint?.isLentic"
	     class="mt-10 sm:mt-0">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-medium leading-6 text-gray-900">Stromend water</h3>
					<p class="mt-1 text-sm text-gray-600">
						Parameters van het geselecteerde stromend water.
					</p>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow sm:rounded-md sm:overflow-hidden">
					<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
						<dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Waterloop
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.watercourse}}
								</dd>
							</div>

							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									VMM Waterlichaam code
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.waterbodyCodeVmm}}
								</dd>
							</div>

							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									VHAS
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.vhas}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									VHAG
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.vhag}}
								</dd>
							</div>

							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Categorie
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
                                    <span *ngIf="fishingPoint?.categoryCode !== null">
									    {{fishingPoint?.categoryDescription + ': ' + fishingPoint?.categoryCode}}
                                    </span>
								</dd>
							</div>

							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Bekken
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
                                    <span *ngIf="fishingPoint?.basinNumber !== null">
                                        {{fishingPoint?.basinNumber + ': ' + fishingPoint?.basinName}}
                                    </span>
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Stroomgebied
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.flowArea}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Kwaliteitsdoel
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.qualityTarget}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Kwaliteit
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.qualityLabel}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Kwaliteit geo
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.qualityGeoAccuracy}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									VHA Zone nummer
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.zoneNumber}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Lengte segment
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.segmentLength}}
								</dd>
							</div>

						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div *ngIf="fishingPoint?.isLentic"
	     aria-hidden="true"
	     class="hidden sm:block">
		<div class="py-5">
			<div class="border-t border-gray-200"></div>
		</div>
	</div>

	<div *ngIf="fishingPoint?.isLentic"
	     class="mt-10 sm:mt-0">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-medium leading-6 text-gray-900">Stilstaand water</h3>
					<p class="mt-1 text-sm text-gray-600">
						Parameters van het geselecteerde stilstaand water.
					</p>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2">
				<div class="shadow sm:rounded-md sm:overflow-hidden">
					<div class="px-4 py-5 bg-white space-y-6 sm:p-6">
						<dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Watervlak
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.lenticName}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									VMM Waterlichaam code
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.lenticCodeVmm}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Watervlak code
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.lenticCode}}
								</dd>
							</div>
							<div class="sm:col-span-1">
								<dt class="text-sm font-medium text-gray-500">
									Watervlak code versie
								</dt>
								<dd class="mt-1 text-sm text-gray-900">
									{{fishingPoint?.lenticCodeVersion}}
								</dd>
							</div>

						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-modal (onCancel)="cancelModal()"
           (onPrimary)="confirmDeleteClicked()"
           [isOpen]="isDeleteModalOpen">
	<ng-container slot="title">
		Verwijder locatie
	</ng-container>
	<ng-container slot="content">
		<span *ngIf="canDelete">Bent u zeker dat u deze locatie wilt verwijderen?</span>
		<span *ngIf="!canDelete">De locatie kan niet verwijderd worden omdat deze in 1 of meerdere waarnemingen gebruikt wordt.</span>
	</ng-container>
	<ng-container slot="primary-button">
		<span *ngIf="canDelete">Verwijderen</span>
		<span *ngIf="!canDelete">Sluiten</span>
	</ng-container>
</app-modal>
