<div>


  <div class="max-w-none mx-auto">
    <form [formGroup]="projectForm" class="space-y-8 divide-y divide-gray-200">
      <div class="bg-white overflow-visible sm:rounded-lg sm:shadow">

        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Project details
          </h3>
        </div>
        <div class="bg-white px-4 py-5 sm:px-6">
          <div class="space-y-8 divide-y divide-gray-200">
            <div>
              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-4">
                  <label for="name" class="block text-sm font-medium text-gray-700">
                    Naam *
                  </label>
                  <div class="mt-1">
                    <input formControlName="name" type="text" name="name" id="name" autocomplete="name">
                  </div>
                  <app-form-error-message [fieldName]="'Naam'" [control]="name"
                                          [submitted]="submitted"></app-form-error-message>
                </div>

                <div class="sm:col-span-6">
                  <label for="description" class="block text-sm font-medium text-gray-700">
                    Beschrijving
                  </label>
                  <div class="mt-1">
                    <textarea formControlName="description" id="description" name="description" rows="3"></textarea>
                  </div>
                  <div class="flex justify-between">
                    <p class="mt-2 text-sm text-gray-500">Beschrijf het project in een aantal zinnen</p>
                    <app-text-counter [max]="2000" [text]="description.value"></app-text-counter>
                  </div>
                  <app-form-error-message [fieldName]="'Beschrijving'" [control]="description"
                                          [submitted]="submitted"></app-form-error-message>
                </div>

                <div class="sm:col-span-2">
                  <label class="block text-sm font-medium text-gray-700">
                    Startdatum *
                  </label>
                  <div class="mt-1">
                    <app-datepicker #startDatePicker formControlName="startDate"></app-datepicker>
                    <app-form-error-message [fieldName]="'Startdatum'" [control]="startDate"
                                            [submitted]="submitted"></app-form-error-message>
                    <span *ngIf="earliestSurveyEventDate"
                          class="mt-2 text-sm text-gray-500">Vroegste waarneming datum: {{earliestSurveyEventDate | date:'dd/MM/yyyy'}}</span>
                  </div>
                </div>
                <div class="sm:col-span-2">
                  <label class="block text-sm font-medium text-gray-700">
                    Lengtemaat
                  </label>
                  <div class="mt-1">
                    <select name="lengthType" formControlName="lengthType">
                      <option value="FORK">Vork</option>
                      <option value="TOTAL">Totaal</option>
                    </select>
                    <p *ngIf="submitted && lengthType.errors" class="mt-2 text-sm text-red-600">Lengtemaat is
                      verplicht</p>
                  </div>
                </div>

                <div class="sm:col-span-4">
                  <label for="contact" class="block text-sm font-medium text-gray-700">
                    Contactpersoon
                  </label>
                  <div class="mt-1">
                    <input formControlName="contact" type="text" name="contact" id="contact">
                  </div>
                </div>

                <div class="sm:col-span-4">
                  <label for="tandemvaultcollectionslug" class="block text-sm font-medium text-gray-700 flex align-middle text-center">
                    Tandemvault collectie <svg (click)="reloadCollections()" class="w-4 h-4 ml-2 cursor-pointer text-center text-gray-500" [class.animate]="loadingCollections" [class.animate-spin]="loadingCollections" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path></svg> <span class="ml-1 text-sm text-gray-500" *ngIf="loadingCollections">Bezig met het ophalen van de collecties, dit kan even duren.</span>
                  </label>
                  <div class="mt-1 relative">
                    <app-searchable-select id="tandemvaultcollectionslug" passedId="tandemvaultcollectionslug" placeholder="Selecteer een collectie"
                                           tabIndex="-1" formControlName="tandemvaultcollectionslug"
                                           (search)="getCollections($event)"
                                           [options]="tandemVaultCollectionsFiltered">
                      <ng-template let-rowDetail #selected>
                        <div *ngIf="rowDetail" class="flex justify-between content-center">
                          <span>{{rowDetail.option?.slug}}</span>
                        </div>
                      </ng-template>

                      <ng-template let-rowDetail #listItem>
                        {{rowDetail.option.name_with_hierarchy}}
                      </ng-template>

                    </app-searchable-select>

                    <app-form-error-message [fieldName]="'Tandemvault collectie'" [control]="tandemvaultcollectionslug" [submitted]="submitted"></app-form-error-message>
                    <p class="mt-2 text-sm text-gray-500">
                      Selecteer hier de collectienaam om het project te koppelen aan <a class="underline" href="https://inbo.tandemvault.com/" target="_blank">Tandemvault</a>.
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="bg-white px-4 pb-5 pt-8 border-b border-gray-200 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Project toegang
          </h3>
          <p class="mt-1 text-sm text-gray-500 max-w-xl">
            Stel hier de toegang tot het project in. Gebruikers die in een gelinkte instantie/team zitten krijgen
            toegang tot het project. De aanmaker zal het project altijd kunnen bewerken.
          </p>
        </div>

        <div class="bg-white px-4 py-5 sm:px-6 border-b border-gray-200">
          <div class="space-y-8 divide-y divide-gray-200">
            <div>
              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                  <label class="block text-sm font-medium text-gray-700">
                    Instanties
                  </label>
                  <div class="mt-1">
                    <app-multi-select formControlName="instances" [options]="instances$ | async"></app-multi-select>
                    <app-form-error-message [control]="instances" [fieldName]="'Instanties'"
                                            [submitted]="submitted"></app-form-error-message>
                  </div>
                </div>
                <div class="sm:col-span-6">
                  <label class="block text-sm font-medium text-gray-700">
                    Team
                  </label>
                  <div class="mt-1">
                    <app-multi-select formControlName="teams" [options]="teams$ | async"></app-multi-select>
                    <app-form-error-message [control]="teams" [fieldName]="'Teams'"
                                            [submitted]="submitted"></app-form-error-message>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
          <div class="flex justify-end">
            <button (click)="cancel()" type="button"
                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Annuleren
            </button>
            <app-button *ngIf="!project?.end" (click)="showCloseProjectModal = true" [style]="'secondary'" class="ml-3"
                        [role]="role.EditProject">Afsluiten
            </app-button>
            <button (click)="saveProject()" type="submit"
                    class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500">
              Bewaren
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>


  <div [hidden]="!showCloseProjectModal"
       class="z-[1000] fixed inset-0 overflow-visible">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center">

      <div class="fixed inset-0 transition-opacity">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>

      <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
      <div
        class="max-w-none inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl
         transform transition-all sm:my-8 sm:align-middle sm:max-w-6xl sm:p-6"
        role="dialog" aria-modal="true" aria-labelledby="modal-headline">
        <form [formGroup]="closeProjectForm" class="space-y-8 divide-y divide-gray-200">
          <div class="sm:col-span-2">
            <label class="block text-sm font-medium text-gray-700">
              Einddatum
            </label>
            <div class="mt-1">
              <app-datepicker #endDatePicker formControlName="endDate"></app-datepicker>
              <app-form-error-message [fieldName]="'Einddatum'" [control]="endDate"
                                      [submitted]="submitted"></app-form-error-message>
              <span *ngIf="latestSurveyEventDate"
                    class="text-gray-500">Laatste waarneming datum: {{latestSurveyEventDate | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </form>

        <div class="py-4 flex justify-end">
          <app-button [style]="'secondary'" (click)="showCloseProjectModal = false">
            Annuleren
          </app-button>
          <app-button [style]="'primary'" class="ml-3" (click)="closeProject()">
            Bewaren
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
