<div [class.hidden]="!(type().value === 'GROUP_LENGTHS')"
     [formGroup]="form"
     class="col-span-12 pt-2">
	<div class="grid grid-flow-row grid-cols-12 gap-2 px-2 py-1.5">

		<!--   Length measurements headers   -->
		<div class="col-span-12">
			<div
					class="grid grid-flow-row grid-cols-12 gap-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider px-2">
				<div class="col-span-1"></div>
				<div class="col-span-3">Lengte (cm)</div>
				<div class="col-span-7">Commentaar</div>
				<div></div>
			</div>
		</div>

		<!--   Length measurements  -->
		<div class="col-span-12">
			<div class="grid grid-flow-row grid-cols-12 gap-2 px-2 py-1.5">
				<ng-container *ngFor="let item of individualLengths().controls; let i = index;"
				              formArrayName="individualLengths">
					<ng-container [formGroupName]="i">
						<div class="col-span-3">
							<div class="relative flex items-center">
                <span class="text-gray-500 w-2/12 float-left text-sm">
                  {{i + 1}}
                </span>
								<span class="text-gray-500 text-sm">{{item.get('length').value}}</span>
								<app-warning-icon class="input-field-icon"
								                  *ngIf="individualLength(i)?.warningMessages?.between"
								                  [messages]="[individualLength(i).warningMessages.between]">
								</app-warning-icon>
							</div>
						</div>
						<div class="col-span-8 text-gray-500 text-sm">
							{{item.get('comment').value}}
						</div>
					</ng-container>
				</ng-container>
			</div>
		</div>

	</div>
</div>
