<div>
  <div class="hidden lg:block flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 table-fixed">
            <thead>
              <tr>
                <th scope="col" class="w-1/12 px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Methode
                </th>
                <th scope="col" class="w-1/12 px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Groep
                </th>
                <th scope="col" class="w-1/12 px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Code
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngIf="loading" class="px-3 py-4" colspan="8">
                  <app-loading-spinner></app-loading-spinner>
                </td>
              </tr>

              <tr *ngFor="let method of methods; let index = index" [class.bg-white]="index % 2 === 0" [class.bg-gray-50]="index % 2 !== 0">
                <td class="px-6 py-4  text-sm text-gray-900">
                  {{'method.' + method.code | translate}}
                </td>
                <td class="px-6 py-4  text-sm text-gray-900">
                  {{'method.' + method.code + '.group' | translate}}
                </td>
                <td class="px-6 py-4  text-sm text-gray-900">
                  {{method.code}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="lg:hidden bg-white shadow overflow-hidden sm:rounded-md">
      <ul class="divide-y divide-gray-200">
        <li *ngFor="let method of methods">
          <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
              <p class="text-sm font-medium text-pink-600 truncate">
                {{method.code}}
              </p>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
              <div class="sm:flex">
                <div class="sm:flex">
                  <p class="flex items-center text-sm text-gray-500">
                    {{'method.' + method.code + '.group' | translate}}
                  </p>
                  <p class="flex items-center text-sm text-gray-500">
                    {{'method.' + method.code | translate}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
