<div>
  <div class="hidden lg:block flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <app-table class="min-w-full divide-y divide-gray-200 table-fixed">
        <thead>
          <tr>
            <th appHeader class="w-1/12" scope="col">
              Methode
            </th>
            <th appHeader class="w-1/12" scope="col">
              Groep
            </th>
            <th appHeader class="w-1/12" scope="col">
              Code
            </th>
            <th appHeader class="w-1/12" scope="col">
              <span class="sr-only">Filteren</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr appRow>
            <td appCell *ngIf="loading" colspan="4">
              <app-loading-spinner></app-loading-spinner>
            </td>
          </tr>

          <tr appRow [rownumber]="index" *ngFor="let method of methods; let index = index">
            <td appCell>
              {{'method.' + method.code | translate}}
            </td>
            <td appCell>
              {{'method.' + method.code + '.group' | translate}}
            </td>
            <td appCell>
              {{method.code}}
            </td>
            <td appCell [actions]="true">
              <a [queryParams]="{method: method.code}" [routerLink]="['/projecten', projectCode, 'waarnemingen']"
                 class="text-pink-600 hover:text-pink-900" target="_blank">Filter</a>
            </td>
          </tr>
        </tbody>
      </app-table>
    </div>
  </div>

  <div class="lg:hidden bg-white shadow overflow-hidden sm:rounded-md">
    <ul class="divide-y divide-gray-200">
      <li *ngFor="let method of methods">
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-between">
            <p class="text-sm font-medium text-pink-600 truncate">
              {{method.code}}
            </p>
          </div>
          <div class="mt-2 sm:flex sm:justify-between">
            <div class="sm:flex">
              <div class="sm:flex">
                <p class="flex items-center text-sm text-gray-500">
                  {{'method.' + method.code + '.group' | translate}}
                </p>
                <p class="flex items-center text-sm text-gray-500">
                  {{'method.' + method.code | translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
