<div>
  <div class="grid grid-cols-12 self-start">
    <button type="button" (click)="toggleShowMeasurements()" class="w-5 h-5 flex">
			<fa-icon [class.hidden]="!showMeasurements" [icon]="faMinus" class="self-center text-gray-300" ngxTippy data-tippy-content="Verberg metingen"></fa-icon>
      <fa-icon [class.hidden]="showMeasurements" [icon]="faPlus" class="self-center text-gray-300" ngxTippy data-tippy-content="Toon metingen"></fa-icon>
			<fa-icon *ngIf="hasInvalidMeasurement" [icon]="faExclamation" class="self-center text-red-400 pl-3" ngxTippy
							 data-tippy-content="Er is een probleem met de metingen van deze waarneming. Klap open voor details."></fa-icon>
		</button>

    <div class="col-span-2">
      {{surveyEvent.occurrence.valid ? (surveyEvent.occurrence.value | date: 'dd/MM/yyyy') : surveyEvent.occurrence.originalValue }}
      <div [class.hidden]="surveyEvent.occurrence.valid" class="mt-1 text-sm text-red-600">
          {{ surveyEvent.occurrence.exception ? (surveyEvent.occurrence.exception | translate: {date: importOverview.project.startDate | date: 'dd/MM/yyyy'}) : 'Geen geldig formaat' }}
      </div>
    </div>
    <div class="col-span-3">
      {{surveyEvent.method.valid ? surveyEvent.method.originalValue : surveyEvent.method.originalValue }}
      <div [class.hidden]="surveyEvent.method.valid" class="mt-1 text-sm text-red-600">
        Niet gevonden
      </div>
    </div>
    <div class="col-span-2">
      {{surveyEvent.fishingPoint.valid ? surveyEvent.fishingPoint.value : surveyEvent.fishingPoint.value }}
      <div [class.hidden]="surveyEvent.fishingPoint.valid" class="mt-1 text-sm text-red-600">
        Niet gevonden
      </div>
    </div>
    <div class="col-span-5 text-sm text-red-600">
      <a *ngIf="surveyEvent.existingSurveyEventId" [routerLink]="['/projecten', importOverview.project.code, 'waarnemingen', surveyEvent.existingSurveyEventId]" target="_blank" class="flex">
        <span class="mr-1.5">De waarneming bestaat reeds</span>
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
          <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
        </svg>
      </a>
    </div>
  </div>

  <div [class.hidden]="!showMeasurements" class="flex flex-col pb-6">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <div
            class="grid grid-flow-row grid-cols-12 grid-rows-4 md:grid-rows-2 lg:grid-rows-1 gap-2 text-left text-xs font-medium text-gray-500 tracking-wider px-2 py-4">
            <div class="col-span-12 md:col-span-4 lg:col-span-3">SOORT</div>
            <div class="col-span-4 md:col-span-2 lg:col-span-1">AANTAL</div>
            <div class="col-span-4 md:col-span-3 lg:col-span-1">LENGTE (cm)</div>
            <div class="col-span-4 md:col-span-3 lg:col-span-1">LENGTE MIN (cm)</div>
            <div class="col-span-4 md:col-span-3 lg:col-span-1">LENGTE MAX (cm)</div>
            <div class="col-span-4 md:col-span-3 lg:col-span-1">GEWICHT (g)</div>
            <div class="col-span-12 md:col-span-5 lg:col-span-2">COMMENTAAR</div>
            <div></div>
          </div>
          <div class="space-y-0.5">
            <div *ngFor="let measurement of surveyEvent.measurements; let i = index">
              <vis-imports-detail-measurement [i]="i" [measurement]="measurement"></vis-imports-detail-measurement>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
