<!--<app-expandable-filter [hideSearchButton]="true" [formGroup]="filterForm"
                       [showAdvancedFilterAtStartup]="advancedFilterIsVisible">
  <ng-container slot="simple">
    <div class="self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input type="text" formControlName="watercourse" placeholder="Waterloop ..."/>
      </div>
    </div>

    <div class="self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input type="text" formControlName="municipality" placeholder="Gemeente ..."/>
      </div>
    </div>

    <div class="self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input type="text" formControlName="basin" placeholder="Bekken ..."/>
      </div>
    </div>

    <div class="self-center">
      <select formControlName="sort" class="mt-1">
        <option value="">Sorteren op ...</option>
        &lt;!&ndash;TODO&ndash;&gt;
        &lt;!&ndash;<option value="watercourse">Waterloop</option>&ndash;&gt;
        <option value="occurrence">Datum</option>
        <option value="method">Methode</option>
      </select>
    </div>
  </ng-container>

  <ng-container slot="advanced">

    <div class="self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <app-daterange formControlName="period"></app-daterange>
      </div>
    </div>

    <div class="self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <input type="text" formControlName="measuringPointNumber" placeholder="Meetpuntnummer ..."/>
      </div>
    </div>

    <div class="relative self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <app-searchable-select placeholder="Selecteer een methode" tabIndex="-1" formControlName="method" (onSearch)="getMethods($event)" [options$]="methods$"></app-searchable-select>
      </div>
    </div>

    <div class="relative self-center">
      <div class="mt-1 sm:mt-0 sm:col-span-2">
        <app-searchable-select placeholder="Selecteer een soort" tabIndex="-1" formControlName="species" (onSearch)="getSpecies($event)" [options$]="species$"></app-searchable-select>
      </div>
    </div>

  </ng-container>
</app-expandable-filter>-->
<app-slide-over-filter (searchClicked)="filter()" [formGroup]="filterForm" [showFilterAtStartup]="advancedFilterIsVisible">
  <ng-container slot="content">
    <div class="space-y-4">
      <div>
        <label for="watercourse" class="block text-sm font-medium text-gray-700">
          Waterloop
        </label>
        <div class="mt-1">
          <input type="text" id="watercourse" formControlName="watercourse" placeholder="Waterloop ..."/>
        </div>
      </div>

      <div>
        <label for="municipality" class="block text-sm font-medium text-gray-700">
          Gemeente
        </label>
        <div class="mt-1">
          <input type="text" id="municipality" formControlName="municipality" placeholder="Gemeente ..."/>
        </div>
      </div>

      <div>
        <label for="basin" class="block text-sm font-medium text-gray-700">
          Bekken
        </label>
        <div class="mt-1">
          <input type="text" id="basin" formControlName="basin" placeholder="Bekken ..."/>
        </div>
      </div>

      <div>
        <label for="period" class="block text-sm font-medium text-gray-700">
          Periode
        </label>
        <div class="mt-1">
          <app-daterange id="period" formControlName="period"></app-daterange>
        </div>
      </div>

      <div>
        <label for="measuringPointNumber" class="block text-sm font-medium text-gray-700">
          Meetpuntnummer
        </label>
        <div class="mt-1">
          <input type="text" id="measuringPointNumber" formControlName="measuringPointNumber" placeholder="Meetpuntnummer ..."/>
        </div>
      </div>

      <div class="relative">
        <label for="method" class="block text-sm font-medium text-gray-700">
          Methode
        </label>
        <div class="mt-1">
          <app-searchable-select id="method" placeholder="Selecteer een methode" tabIndex="-1" formControlName="method" (onSearch)="getMethods($event)" [options$]="methods$"></app-searchable-select>
        </div>
      </div>

      <div class="relative">
        <label for="species" class="block text-sm font-medium text-gray-700">
          Soort
        </label>
        <div class="mt-1">
          <app-searchable-select id="species" placeholder="Selecteer een soort" tabIndex="-1" formControlName="species" (onSearch)="getSpecies($event)" [options$]="species$"></app-searchable-select>
        </div>
      </div>

      <div>
        <label for="basin" class="block text-sm font-medium text-gray-700">
          Sorteren op
        </label>
        <select formControlName="sort" class="mt-1">
          <option value="">Sorteren op ...</option>
          <!--TODO-->
          <!--<option value="watercourse">Waterloop</option>-->
          <option value="occurrence">Datum</option>
          <option value="method">Methode</option>
        </select>
      </div>
    </div>
  </ng-container>
</app-slide-over-filter>

<div class="px-4 py-8 sm:px-0">
  <div class="flex flex-col hidden lg:block">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Meetpuntnummer
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Waterloop
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Datum
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Methode
              </th>
              <th scope="col" class="px-6 py-3">
                <span class="sr-only">Bewerken</span>
              </th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            <tr>
              <td *ngIf="loading" class="px-6 py-4" colspan="5">
                <app-loading-spinner></app-loading-spinner>
              </td>
            </tr>

            <tr *ngFor="let surveyEvent of surveyEvents$ | async">
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                TODO
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                TODO
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ surveyEvent.occurrence | date:'dd/MM/yyyy'}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                {{ 'method.' + surveyEvent.method | translate }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEvent.surveyEventId.value]"
                   class="text-pink-600 hover:text-pink-900">Bewerk</a>
              </td>
            </tr>
            </tbody>
          </table>
          <app-paging-async [pager]="pager"></app-paging-async>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-white shadow overflow-hidden sm:rounded-md lg:hidden">
  <ul class="divide-y divide-gray-200">
    <li *ngFor="let surveyEvent of surveyEvents$ | async">
      <a [routerLink]="['/projecten', projectCode, 'waarnemingen', surveyEvent.surveyEventId.value]"
         class="block hover:bg-gray-50">
        <div class="px-4 py-4 sm:px-6">
          <div class="flex items-center justify-between">
            <p class="text-sm font-medium text-pink-600 truncate">
              {{ surveyEvent.occurrence | date:'dd/MM/yyyy'}}
            </p>
          </div>
          <div class="mt-2 sm:flex sm:justify-between">
            <div class="sm:flex">
              <p class="flex items-center text-sm text-gray-500">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                        d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z"
                        clip-rule="evenodd"></path>
                </svg>
                Meetpuntnummer TODO
              </p>
              <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
                <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8 5a1 1 0 100 2h5.586l-1.293 1.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L13.586 5H8zM12 15a1 1 0 100-2H6.414l1.293-1.293a1 1 0 10-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L6.414 15H12z"></path>
                </svg>
                Waterloop TODO
              </p>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path>
              </svg>
              <p>
                {{ 'method.' + surveyEvent.method | translate }}
              </p>
            </div>
          </div>
        </div>
      </a>
    </li>
    <app-paging-async [pager]="pager"></app-paging-async>
  </ul>
</div>

