@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

.date-input {
  @apply bg-white rounded shadow-lg p-4 text-xs;

  z-index: 2000;
  margin: 3px 0 0 0;

  &.is-hidden {
    @apply hidden;
  }

  & .pika-title {
    @apply pb-2 w-full text-center;
  }

  & .pika-prev,
  & .pika-next {
    @apply mt-2 px-2 text-pink-700 cursor-pointer;

    &:hover { @apply underline; }
  }

  & .pika-prev {
    float: left;
  }

  & .pika-next {
    float: right;
  }

  & .pika-label {
    @apply inline-block;
    font-size: 0;
  }

  & .pika-select-month,
  & .pika-select-year {
    @apply inline-block border text-gray-700 bg-white text-xs font-sans rounded py-1 pl-2 pr-6;

    appearance: none;

    &:focus {
      border-color: config('colors.pink-500');
      box-shadow: 0 0 0 1px config('colors.pink-500');
    }
  }

  & .pika-select-month {
    @apply mr-1;
  }

  & table {
    @apply w-full;
    border-collapse: collapse;

    & th {
      @apply text-gray-600 text-center w-8 h-8;

      & abbr {
        text-decoration: none;
      }
    }

    & td {
      @apply border border-gray-200;

      & button {
        @apply block text-gray-700 text-center w-8 h-8;

        &:hover { @apply bg-gray-200; }
      }

      &.is-today {
        @apply bg-gray-200;
      }

      &.is-selected {
        @apply bg-pink-500;

        & button {
          @apply text-white;

          &:hover { @apply bg-pink-600; }
        }
      }
    }
  }
}
