<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Habitat
    </h3>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <form [formGroup]="habitatForm">
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bodem</label>
          <div class="mt-1">
            <app-check-group name="soils" [options]="habitatOptions.soil" formControlName="soils"></app-check-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Waterpeil</label>
          <div class="mt-1">
            <app-radio-group name="waterLevel" [options]="habitatOptions.waterLevels"
                             formControlName="waterLevel"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Natuurlijke schuilplaatsen</label>
          <div class="mt-1">
            <app-radio-group name="shelters" [options]="habitatOptions.shelters"
                             formControlName="shelters"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Poelen</label>
          <div class="mt-1">
            <app-radio-group name="pool" [options]="habitatOptions.pool" formControlName="pool"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Stroomversnellingen</label>
          <div class="mt-1">
            <app-radio-group name="rapids" [options]="habitatOptions.rapids" formControlName="rapids"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bochten</label>
          <div class="mt-1">
            <app-radio-group name="creeks" [options]="habitatOptions.creeks" formControlName="creeks"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Oever</label>
          <div class="mt-1">
            <app-radio-group name="shore" [options]="habitatOptions.shore" formControlName="shore"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Taludhelling</label>
          <div class="mt-1">
            <app-radio-group name="slope" [options]="habitatOptions.slope" formControlName="slope"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Landbouw</label>
          <div class="mt-1">
            <app-radio-group name="agriculture" [options]="habitatOptions.agriculture"
                             formControlName="agriculture"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Weide</label>
          <div class="mt-1">
            <app-radio-group name="meadow" [options]="habitatOptions.meadow" formControlName="meadow"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bomen</label>
          <div class="mt-1">
            <app-radio-group name="trees" [options]="habitatOptions.trees" formControlName="trees"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bebouwing</label>
          <div class="mt-1">
            <app-radio-group name="buildings" [options]="habitatOptions.buildings"
                             formControlName="buildings"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Industrie</label>
          <div class="mt-1">
            <app-radio-group name="industry" [options]="habitatOptions.industry"
                             formControlName="industry"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Loop</label>
          <div class="mt-1">
            <app-radio-group name="current" [options]="habitatOptions.current" formControlName="current"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Knelpunt in omgeving van het traject</label>
          <div class="mt-1">
            <app-check-group name="bottlenecks" [options]="habitatOptions.bottlenecks"
                             formControlName="bottlenecks"></app-check-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Vispassage</label>
          <div class="mt-1">
            <app-radio-group name="fishPassage" [options]="habitatOptions.fishPassage"
                             formControlName="fishPassage"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Vegetatie</label>
          <div class="mt-1">
            <app-check-group name="vegetations" [options]="habitatOptions.vegetations"
                             formControlName="vegetations"></app-check-group>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="px-4 py-4 sm:px-6 flex justify-end">
    <app-button (click)="cancel()">Annuleren</app-button>
    <app-button [style]="'primary'" class="ml-3" (click)="saveHabitat()">Bewaren</app-button>
  </div>
</div>
