<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Habitat
    </h3>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <form [formGroup]="habitatForm">
      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bodem</label>
          <div class="mt-1" formGroupName="soil">
            <app-check-group [options]="habitatOptions.soil" name="soil"
                             (checked)="soilChecked($event)"></app-check-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Waterpeil</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.waterLevels" formControlName="waterLevel"
                             name="waterLevel">
            </app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Natuurlijke schuilplaatsen</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.shelters" formControlName="shelters"
                             name="shelters"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Poelen</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.pool" formControlName="pool" name="pool"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Stroomversnellingen</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.rapids" formControlName="rapids" name="rapids"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bochten</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.creeks" formControlName="creeks" name="creeks"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Oever</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.shore" formControlName="shore" name="shore"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Taludhelling</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.slope" formControlName="slope" name="slope"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Landbouw</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.agriculture" formControlName="agriculture"
                             name="agriculture"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Weide</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.meadow" formControlName="meadow" name="meadow"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bomen</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.trees" formControlName="trees" name="trees"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Bebouwing</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.buildings" formControlName="buildings"
                             name="buildings"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Industrie</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.industry" formControlName="industry"
                             name="industry"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Loop</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.current" formControlName="current"
                             name="current"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Knelpunt in omgeving van het traject</label>
          <div class="mt-1">
            <app-check-group [options]="habitatOptions.bottlenecks" name="bottleneck"
                             (checked)="bottleneckChecked($event)"></app-check-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Vispassage</label>
          <div class="mt-1">
            <app-radio-group [options]="habitatOptions.fishPassage" formControlName="fishPassage"
                             name="fishPassage"></app-radio-group>
          </div>
        </div>

        <div class="sm:col-span-6">
          <label class="block text-sm font-medium text-gray-700">Vegetatie</label>
          <div class="mt-1">
            <app-check-group [options]="habitatOptions.vegetations" name="vegetation"
                             (checked)="vegetationChecked($event)"></app-check-group>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="px-4 py-4 sm:px-6 flex justify-end">
    <app-button (click)="cancel()">Annuleren</app-button>
    <app-button (click)="saveHabitat()" [style]="'primary'" class="ml-3">Bewaren</app-button>
  </div>
</div>
