<app-stacked-layout [navigationLinks]="links">
	<div slot="content">
		<app-breadcrumb [breadcrumbLinks]="breadcrumbLinks"></app-breadcrumb>
		<main *ngIf="formGroup">
			<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
				<div class="px-4 py-8 sm:px-0">
					<nav aria-label="Progress">
						<ol class="space-y-4 md:flex md:space-y-0 md:space-x-8">
							<li class="md:flex-1">
								<app-step [active]="true"
								          step="Stap 1"
								          description="Vispunt selecteren"></app-step>
							</li>

							<li class="md:flex-1"
							    *ngIf="!(editMode && fishingPointType === FishingPointType.STAGNANT)">
								<app-step [active]="LocationCreationStep.BLUE_LAYER === currentStep || LocationCreationStep.WATER_COURSE === currentStep"
								          step="Stap 2"
								          [description]="fishingPointType === FishingPointType.FLOWING ? 'Waterloop' : 'Blauwe laag'">
								</app-step>
							</li>
						</ol>
					</nav>
				</div>

				<div *ngIf="currentStep === LocationCreationStep.GENERAL"
				     class="px-4 py-8 sm:px-0">

					<app-location-create-step1 [formGroup]="formGroup"
					                           [editMode]="editMode"
					                           [canEditIndexType]="canEditIndexType"
					                           [(fishingPointType)]="fishingPointType"
					                           [indexTypes]="indexTypes">
					</app-location-create-step1>

					<div class="flex justify-end mt-5">
						<app-button (click)="cancel()"
						            [style]="'primary'">
							Annuleren
						</app-button>
						<app-button *ngIf="editMode"
						            [disabled]="!isGeneralStepValid()"
						            (click)="save()"
						            [style]="'primary'"
						            class="ml-2">
							Bewaren
						</app-button>
						<app-button *ngIf="!(editMode && fishingPointType === FishingPointType.STAGNANT)"
						            class="ml-2"
						            [disabled]="!isGeneralStepValid()"
						            (click)="goToNextStep()"
						            [style]="'primary'">
							Volgende
						</app-button>
					</div>
				</div>


				<div *ngIf="currentStep === LocationCreationStep.WATER_COURSE"
				     class="px-4 py-8 sm:px-0">
					<app-location-create-step2 [formGroup]="formGroup"
					                           [editMode]="editMode">
					</app-location-create-step2>
					<div class="flex justify-end mt-5">
						<app-button (click)="cancel()"
						            [style]="'primary'">
							Annuleren
						</app-button>
						<app-button class="ml-2"
						            [disabled]="!isWaterCourseValid()"
						            (click)="save()"
						            [style]="'primary'">
							Bewaren
						</app-button>
					</div>
				</div>


				<div *ngIf="currentStep === LocationCreationStep.BLUE_LAYER"
				     class="px-4 py-8 sm:px-0">
					<app-location-create-step3 [formGroup]="formGroup"></app-location-create-step3>
					<div class="flex justify-end mt-5">
						<app-button (click)="cancel()"
						            [style]="'primary'">
							Annuleren
						</app-button>
						<app-button class="ml-2"
						            [disabled]="!isBlueLayerValid()"
						            (click)="save()"
						            [style]="'primary'">
							Bewaren
						</app-button>
					</div>
				</div>

			</div>
		</main>
	</div>

</app-stacked-layout>
