<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      Parameters
    </h3>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <form [formGroup]="parametersForm" class="space-y-8 divide-y divide-gray-200">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

            <div class="sm:col-span-4">
              <label for="oxygen" class="block text-sm font-medium text-gray-700">
                Zuurstof mg/l
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -99.99, 99.99)" [unmask]="true" formControlName="oxygen" type="text"
                       name="oxygen" id="oxygen">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="oxygenPercentage" class="block text-sm font-medium text-gray-700">
                Zuurstof %
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -99.99, 99.99)" [unmask]="true" formControlName="oxygenPercentage"
                       type="text" name="oxygenPercentage" id="oxygenPercentage">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="temperature" class="block text-sm font-medium text-gray-700">
                Watertemperatuur (°C)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(1, -99.9, 99.9)" [unmask]="true" formControlName="temperature" type="text"
                       name="temperature" id="temperature">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="conductivity" class="block text-sm font-medium text-gray-700">
                Conductiviteit (uS/cm)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(0, -99999, 99999)" [unmask]="true" formControlName="conductivity" type="text"
                       name="conductivity" id="conductivity">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="salinity" class="block text-sm font-medium text-gray-700">
                Zoutgehalte (°/oo)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -9.99, 9.99)" [unmask]="true" formControlName="salinity" type="text"
                       name="salinity" id="salinity">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="ph" class="block text-sm font-medium text-gray-700">
                pH
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -99.99, 99.99)" [unmask]="true" formControlName="ph" type="text" name="ph"
                       id="ph">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="turbidity" class="block text-sm font-medium text-gray-700">
                Turbiditeit (NTU)
              </label>
              <div class="mt-1">
                <input [class.bg-gray-50]="turbidityOutOfRange.value === true"
                       [attr.disabled]="turbidityOutOfRange.value === true ? 'disabled': null"
                       [imask]="numberMask(1, -99.9, 99.9)" [unmask]="true" formControlName="turbidity" type="text"
                       name="turbidity" id="turbidity">
                <div class="relative flex items-start mt-1">
                  <div class="flex items-center h-5">
                    <input formControlName="turbidityOutOfRange" (change)="outOfRangeChanged($event)"
                           id="turbidityOutOfRange" name="turbidityOutOfRange" type="checkbox">
                  </div>
                  <div class="ml-3 text-sm">
                    <label for="turbidityOutOfRange" class="font-medium text-gray-700">Buiten bereik</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="secchi" class="block text-sm font-medium text-gray-700">
                Secchi (m)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -9.99, 9.99)" [unmask]="true" formControlName="secchi" type="text"
                       name="secchi" id="secchi">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="width" class="block text-sm font-medium text-gray-700">
                Breedte (m)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, 0, 999.99)" [unmask]="true" formControlName="width" type="text"
                       name="width" id="width">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="minDepth" class="block text-sm font-medium text-gray-700">
                Minimum diepte (m)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -9.99, 9.99)" [unmask]="true" formControlName="minDepth" type="text"
                       name="minDepth" id="minDepth">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="maxDepth" class="block text-sm font-medium text-gray-700">
                Maximum diepte (m)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -9.99, 9.99)" [unmask]="true" formControlName="maxDepth" type="text"
                       name="maxDepth" id="maxDepth">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="averageDepth" class="block text-sm font-medium text-gray-700">
                Gemiddelde diepte (m)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -9.99, 9.99)" [unmask]="true" formControlName="averageDepth" type="text"
                       name="averageDepth" id="averageDepth">
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="flowRate" class="block text-sm font-medium text-gray-700">
                Stroomsnelheid (m/s)
              </label>
              <div class="mt-1">
                <input [imask]="numberMask(2, -9.99, 9.99)" [unmask]="true" formControlName="flowRate" type="text"
                       name="flowRate" id="flowRate">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="px-4 py-4 sm:px-6 flex justify-end">
    <app-button (click)="reset()">Reset</app-button>
    <app-button [style]="'primary'" class="ml-3" (click)="saveParameters()">Bewaren</app-button>
  </div>
</div>
